include ../../../components/base/btns/btn/index
.subscription
  .h1.title
    span СЛЕДИТЕ ЗА ОБНОВЛЕНИЯМИ
  form#form-subscript-confirm.b-form(action='#')
    fieldset
      .control-group
        .input-wrap
          input.input.form-control.input-with-icon.input-with-icon--email(type='email', name='sf_EMAIL', placeholder='Введите ваш e-mail', value='')
          .b-btn
            +btn-primary({type: 'input', text: 'подписаться на рассылку'})(name='OK')
  script.
      !function () {
          'use strict';

          function initValid() {
              // Validation options http://jqueryvalidation.org/documentation/
              var form_validator = $('#form-subscript-confirm');
              if (form_validator.length && $.fn.validate) {
                  form_validator.validate({
                      rules: {
                          'sf_EMAIL': {
                              required: true,
                              email: true
                          }
                      }
                  });
              }
          }

          $(function () {
              initValid();
          });
      }();