.search-head-5
  .backdrop
  .wrap
    .btn-open
    .wrap
      form.search-form(action="/search/" method="get")
        .form-wrap
          input.btn.btn-primary.btn-search(name="btn-search", type="submit", value="Найти")
          input.field(id="headSearch", type="search", placeholder="Поиск по сайту", name="q", maxlength="50", required="")
          .btn-close