mixin lk-aside(data)
  .lk-aside
    .lk-aside__list
      each item in data.list
        a.lk-aside__item(href='#', class=(item.className ? item.className : ''))
          .lk-aside__text !{item.text}
          .lk-aside__icon(class='lk-aside__icon--' + (item.icon ? item.icon : ''))