.submenu-4
  .submenu-4__row.row
    .submenu-4__col.submenu-4__col--left
      .level_2
        .item_2(data-submenu='submenu-4-1')
          a(href='#') Волосы
        .item_2(data-submenu='submenu-4-2')
          a(href='#') Брови и ресницы
        .item_2
          a(href='#') Тело
        .item_2
          a(href='#') Манирюк и педикюр
        .item_2
          a(href='#') Электротовары
        .item_2
          a(href='#') Товары для парикмахера
        .item_2
          a(href='#') Прочие
    .submenu-4__col.submenu-4__col--right
      .submenu_inner_items
        .submenu_inner_item#submenu-4-1
          .row
            .col-lg-4.col-12
              .level_3
                .item_3
                  a(href='#') Обработка
                  .level_4
                    .item_4
                      a(href='#') Ножницы для маникюра
                    .item_4
                      a(href='#') Кусачки для маникюра
                    .item_4
                      a(href='#') Кусачки для педикюра
                    .item_4
                      a(href='#') Фрезы
                    .item_4
                      a(href='#') Пилки и терки для стоп
                    .item_4
                      a(href='#') Лопатки, шаберы
                    .item_4
                      a(href='#') Пилочка и бафы
                    .item_4
                      a(href='#') Сопутствующие материалы
              .level_3
                .item_3
                  a(href='#') Уход
                  .level_4
                    .item_4
                      a(href='#') Для удаления кутикулы
                    .item_4
                      a(href='#') Для питания кутикулы
                    .item_4
                      a(href='#') Для рук
            .col-lg-4.col-12
              .level_3
                .item_3
                  a(href='#') Базы, топы, гели
                  .level_4
                    .item_4
                      a(href='#') Базы под гель-лак
                    .item_4
                      a(href='#') Топы под гель-лак
                    .item_4
                      a(href='#') Праймеры
                    .item_4
                      a(href='#') Гели
                    .item_4
                      a(href='#') Формы для наращивания
                    .item_4
                      a(href='#') Полигель
              .level_3
                .item_3
                  a(href='#') Аппараты для маникюра
                  .level_4
                    .item_4
                      a(href='#') Ванночки
                    .item_4
                      a(href='#') Пылесосы
                    .item_4
                      a(href='#') Лампы
            .col-lg-4.col-12
              .level_3
                .item_3
                  a(href='#') Дизайн ногтей
                  .level_4
                    .item_4
                      a(href='#') Наклейки
                    .item_4
                      a(href='#') Блестки,стразы
                    .item_4
                      a(href='#') Фольга, поталь, втирка
              .level_3
                .item_3
                  a(href='#') Обработка инструментов
                  .level_4
                    .item_4
                      a(href='#') Пакеты для стрелизации
                    .item_4
                      a(href='#') Контейнеры для дезинфекции
              .level_3
                .item_3
                  a(href='#') Кисти для маникюра
              .level_3
                .item_3
                  a(href='#') Наборы для маникюра
              .level_3
                .item_3
                  a(href='#') Очищение и снятие
        .submenu_inner_item#submenu-4-2
          .row
            .col-lg-4.col-12
              .level_3
                .item_3
                  a(href='#') Обработка
                  .level_4
                    .item_4
                      a(href='#') Ножницы для маникюра
                    .item_4
                      a(href='#') Кусачки для маникюра
                    .item_4
                      a(href='#') Кусачки для педикюра
                    .item_4
                      a(href='#') Фрезы
                    .item_4
                      a(href='#') Пилки и терки для стоп
                    .item_4
                      a(href='#') Лопатки, шаберы
                    .item_4
                      a(href='#') Пилочка и бафы
                    .item_4
                      a(href='#') Сопутствующие материалы
              .level_3
                .item_3
                  a(href='#') Уход
                  .level_4
                    .item_4
                      a(href='#') Для удаления кутикулы
                    .item_4
                      a(href='#') Для питания кутикулы
                    .item_4
                      a(href='#') Для рук
            .col-lg-4.col-12
              .level_3
                .item_3
                  a(href='#') Обработка
                  .level_4
                    .item_4
                      a(href='#') Ножницы для маникюра
                    .item_4
                      a(href='#') Кусачки для маникюра
                    .item_4
                      a(href='#') Кусачки для педикюра
                    .item_4
                      a(href='#') Фрезы
                    .item_4
                      a(href='#') Пилки и терки для стоп
                    .item_4
                      a(href='#') Лопатки, шаберы
                    .item_4
                      a(href='#') Пилочка и бафы
                    .item_4
                      a(href='#') Сопутствующие материалы
              .level_3
                .item_3
                  a(href='#') Уход
                  .level_4
                    .item_4
                      a(href='#') Для удаления кутикулы
                    .item_4
                      a(href='#') Для питания кутикулы
                    .item_4
                      a(href='#') Для рук

            .col-lg-4.col-12
              .level_3
                .item_3
                  a(href='#') Обработка
                  .level_4
                    .item_4
                      a(href='#') Ножницы для маникюра
                    .item_4
                      a(href='#') Кусачки для маникюра
                    .item_4
                      a(href='#') Кусачки для педикюра
                    .item_4
                      a(href='#') Фрезы
                    .item_4
                      a(href='#') Пилки и терки для стоп
                    .item_4
                      a(href='#') Лопатки, шаберы
                    .item_4
                      a(href='#') Пилочка и бафы
                    .item_4
                      a(href='#') Сопутствующие материалы
              .level_3
                .item_3
                  a(href='#') Уход
                  .level_4
                    .item_4
                      a(href='#') Для удаления кутикулы
                    .item_4
                      a(href='#') Для питания кутикулы
                    .item_4
                      a(href='#') Для рук