include ../../../../components/block/catalog-filters/index

+catalog-filters({
    categories: {
        title: 'Категории',
        list: ['Волшебная цена', 'Хит', 'New', 'Premium', 'Скидки']
    }
})