include ../../../../components/block/brand-links/index

.brands
  .brands__alphabet
    .brands__alphabet-block
      a(href='#') 0-9
    .brands__alphabet-block
      a(href='#') Б
      a(href='#') Н
    .brands__alphabet-block
      a(href='#') A
      a(href='#') B
      a(href='#') C
      a(href='#') D
      a(href='#') E
      a(href='#') F
      a(href='#') G
      a(href='#') H
      a(href='#') I
      a(href='#') J
      a(href='#') K
      a(href='#') L
      a(href='#') M
      a(href='#') N
      a(href='#') O
      a(href='#') P
      a(href='#') R
      a(href='#') S
      a(href='#') T
      a(href='#') W
      a(href='#') Z
  .brands__block
    .brands__letter 0-9
    +brand-links({
        pics: [
          'img/tmp/brand-links-1.png',
        ]
    })
  .brands__block
    .brands__letter A
    +brand-links({
        pics: [
            'img/tmp/brand-links-2.png',
        ]
    })
  .brands__block
    .brands__letter B
    +brand-links({
        pics: [
            'img/tmp/brand-links-3.png',
            'img/tmp/brand-links-4.png',
            'img/tmp/brand-links-5.png',
        ]
    })
  .brands__block
    .brands__letter C
    +brand-links({
        pics: [
            'img/tmp/brand-links-6.png',
            'img/tmp/brand-links-7.png',
            'img/tmp/brand-links-8.png',
            'img/tmp/brand-links-9.png',
            'img/tmp/brand-links-10.png',
        ]
    })
  .brands__block
    .brands__letter D
    +brand-links({
        pics: [
            'img/tmp/brand-links-11.png',
            'img/tmp/brand-links-12.png',
            'img/tmp/brand-links-13.png',
            'img/tmp/brand-links-14.png',
        ]
    })
  .brands__block
    .brands__letter E
    +brand-links({
        pics: [
            'img/tmp/brand-links-15.png',
            'img/tmp/brand-links-16.png',
            'img/tmp/brand-links-17.png',
            'img/tmp/brand-links-18.png',
        ]
    })
  .brands__block
    .brands__letter F
    +brand-links({
        pics: [
            'img/tmp/brand-links-19.png',
        ]
    })
  .brands__block
    .brands__letter G
    +brand-links({
        pics: [
            'img/tmp/brand-links-20.png',
            'img/tmp/brand-links-21.png',
        ]
    })
  .brands__block
    .brands__letter H
    +brand-links({
        pics: [
            'img/tmp/brand-links-22.png',
        ]
    })
  .brands__block
    .brands__letter I
    +brand-links({
        pics: [
            'img/tmp/brand-links-23.png',
            'img/tmp/brand-links-24.png',
            'img/tmp/brand-links-25.png',
            'img/tmp/brand-links-26.png',
        ]
    })
  .brands__block
    .brands__letter J
    +brand-links({
        pics: [
            'img/tmp/brand-links-27.png',
        ]
    })
  .brands__block
    .brands__letter K
    +brand-links({
        pics: [
            'img/tmp/brand-links-28.png',
            'img/tmp/brand-links-29.png',
        ]
    })
  .brands__block
    .brands__letter L
    +brand-links({
        pics: [
            'img/tmp/brand-links-6.png',
            'img/tmp/brand-links-7.png',
            'img/tmp/brand-links-8.png',
            'img/tmp/brand-links-9.png',
            'img/tmp/brand-links-10.png',
        ]
    })
  .brands__block
    .brands__letter M
    +brand-links({
        pics: [
            'img/tmp/brand-links-11.png',
            'img/tmp/brand-links-12.png',
            'img/tmp/brand-links-13.png',
            'img/tmp/brand-links-14.png',
        ]
    })
  .brands__block
    .brands__letter N
    +brand-links({
        pics: [
            'img/tmp/brand-links-15.png',
            'img/tmp/brand-links-16.png',
            'img/tmp/brand-links-17.png',
            'img/tmp/brand-links-18.png',
        ]
    })
  .brands__block
    .brands__letter O
    +brand-links({
        pics: [
            'img/tmp/brand-links-19.png',
        ]
    })
  .brands__block
    .brands__letter P
    +brand-links({
        pics: [
            'img/tmp/brand-links-6.png',
            'img/tmp/brand-links-7.png',
            'img/tmp/brand-links-8.png',
            'img/tmp/brand-links-9.png',
            'img/tmp/brand-links-10.png',
        ]
    })
  .brands__block
    .brands__letter R
    +brand-links({
        pics: [
            'img/tmp/brand-links-11.png',
            'img/tmp/brand-links-12.png',
            'img/tmp/brand-links-13.png',
            'img/tmp/brand-links-14.png',
        ]
    })
  .brands__block
    .brands__letter S
    +brand-links({
        pics: [
            'img/tmp/brand-links-15.png',
            'img/tmp/brand-links-16.png',
            'img/tmp/brand-links-17.png',
            'img/tmp/brand-links-18.png',
        ]
    })
  .brands__block
    .brands__letter T
    +brand-links({
        pics: [
            'img/tmp/brand-links-30.png',
            'img/tmp/brand-links-31.png',
        ]
    })
  .brands__block
    .brands__letter W
    +brand-links({
        pics: [
            'img/tmp/brand-links-32.png',
        ]
    })
  .brands__block
    .brands__letter Z
    +brand-links({
        pics: [
            'img/tmp/brand-links-33.png',
        ]
    })
  .brands__block
    .brands__letter Б
    +brand-links({
        pics: [
            'img/tmp/brand-links-34.png',
        ]
    })
  .brands__block
    .brands__letter Н
    +brand-links({
        pics: [
            'img/tmp/brand-links-35.png',
        ]
    })