include ../../../../components/block/b-section/index
include ../../../../components/block/b-head/index

.content-wrap.lk-content-wrap
  .row.justify-content-center
    .col-xl-8.col-lg-11.col-12
      +b-head({
          className: 'b-head--recovery b-head--align-center',
          title: {
              tag: 'h1',
              size: 'h1',
              text: 'Восстановление пароля'
          }
      })
      p.lk-content-descr.text-center Укажите почту или номер телефона, к которому привязан ваш аккаунт <br>и мы вышлем код для сброса пароля
      include ../form-recovery/index