include ../submenu-3/index
include ../submenu-big-2/index
include ../../../util/menuMore/index
.menu-drop-8.js-menu-tablet.js-menuMore.d-print-none
  ul.menu_level_1.break-word.list-reset
    li.item_1.has-submenu-2
      a(href="#")
        span Каталог
        span.icon
      include ../submenu-4/index
    li.item_1.has-submenu-2
      a(href="#")
        span Бренды
    li.item_1
      span
        span Блог
    li.item_1
      span
        span О нас
    li.item_1
      a(href="#")
        span Сотрудничество
    li.item_1.has-submenu
      a(href="#")
        span Покупателю