.form-cooperation {
  margin-bottom: 59px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }

  &__inner {
    position: relative;
    padding: 40px 40px 29px;

    @media (max-width: $screen-sm-max) {
      padding: 25px 0 25px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
      background: #F5F2EF;

      @media (max-width: $screen-sm-max) {
        width: 100vw;
      }
    }
  }

  .btn-wrap {
    text-align: center;
  }

  .btn {
    position: absolute;
    left: 50%;
    bottom: -59px;
    transform: translateX(-50%);
    margin: 0 auto;

    @media (max-width: $screen-sm-max) {
      position: static;
      transform: none;
      width: 100%;
    }
  }

  textarea {
    height: 150px;
  }
}