include ../../../../components/block/card-links-3/index

+card-links-3({
    cards: [
        {
            className: 'price-red favorites-active',
            img: 'img/tmp/card-links-3-card-01.png',
            title: 'bes',
            desc: 'BES активный шампунь для жирных волос s1',
            sale: {
                items: [{
                    text: 'sale'
                }]
            },
            price: '21 BYN',
            old: '28 BYN',
        },
        {
            className: 'favorites-active',
            img: 'img/tmp/card-links-3-card-02.png',
            title: 'bes',
            desc: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            price: '22 BYN',
            old: '',
        },
        {
            className: 'favorites-active',
            img: 'img/tmp/card-links-3-card-03.png',
            title: 'Nouvelle',
            desc: 'Nouvelle Extreme Gel Гель для укладки волос сильной фиксации',
            price: '26.10 BYN',
            old: '',
        }
    ]
})
blockquote.style-2
  p.mb-0.text-center Хотите сохранить избранные товары? <a href="#">Войдите в аккаунт</a> или <a href="#">зарегистрируйтесь</a>