.header__mob
  .container
    include ../../../components/header/logo/logo-mob/index
    .header__tools
      include ../../../components/header/contacts/contacts-mob/index
      include ../../../components/header/search/search-mob/index
      include ../../../components/header/lang/lang-mob/index
      include ../../../components/header/hamburger/hamburger-opener/index
.header__desktop
  .container
    .header__row.row
      .header__col.header__col--logo
        include ../../../components/header/logo/logo-png/index
      .header__col.header__col--menu
        block menu_head
          include ../../../components/header/menu/menu-drop-8/index
      .header__col.header__col--links
        include ../../../components/header/head-links/index
      .header__col.header__col--contacts
        include ../../../components/header/contacts/contacts-head-5/index