include ../../../components/base/btns/btn/index
include ../../../components/base/btns/btns-brand/index

.header__desktop
  .container
    .header__row.row
      .header__col.header__col--hamb.d-lg-none
        include ../../../components/header/hamburger/hamburger-opener/index
      .header__col.header__col--logo.d-none.d-lg-flex
        include ../../../components/header/logo/logo-png/index
      .header__col.header__col--menu.d-none.d-lg-flex
        block menu_head
          include ../../../components/header/menu/menu-drop-8/index
      .header__col.header__col--links
        include ../../../components/header/head-links/index
      .header__col.header__col--contacts.d-none.d-lg-flex
        include ../../../components/header/contacts/contacts-head-5/index