include ../../../base/forms/form_1/form/index
.form-auth
  .form-auth__inner
    form#form-auth.form-1(name='form_auth', method='post', target='_top', action='/')
      fieldset.fieldset
        .row
          .col-12
            // row
            .form-group.control-group
              .text.col-12
                .input-wrap
                  input#form_auth_MAIL.form-control.input-with-icon.input-with-icon--email(type='email', name='form_auth_MAIL', placeholder='Электронная почта', value='', required='')
              .controls.col-12
          .col-12
            // row
            .form-group.control-group
              .text.col-12
                .input-wrap
                  input#form_auth_PASS.form-control.input-with-icon.input-with-icon--pass(type='password', name='form_auth_PASS', placeholder='Пароль', value='', required='')
              .controls.col-12
          .col-12
            // row
            .form-group.mb-0
              .col-12.btn-wrap
                +btn-primary({type: 'button', className: 'btn_submit', text: 'войти в аккаунт'})(id='form-auth-submit')
    script.
        !function () {
            'use strict';

            // Form validation
            function initValid() {
                // Validation options http://jqueryvalidation.org/documentation/
                var form_validator = $('#form-auth');
                if (form_validator.length && $.fn.validate) {
                    form_validator.validate({
                        rules: {
                            'form_auth_MAIL': {
                                required: true
                            },
                            'form_auth_PASS': {
                                required: true
                            }
                        }
                    });
                }
            }

            function validOnButton() {
                var form = $('#form-auth');
                var btn = $('#form-auth-submit');

                btn.on('click', function () {
                    if (form.valid()) {
                        form.submit();
                    }
                })
            }

            $(function () {
                initValid();
                validOnButton();
            });
        }();