include ../../../sliders/template/sl-main/index
include ../../../sliders/pager/sl-pager/index
include ../../../sliders/nav/sl-nav-6/index

+sl-main({
  nav: 'sl-nav-6',
  slides: [
      {
          pic: 'sl-main-1.jpg',
          title: 'сияйте этим летом с маслом flavia',
          text: 'Линия Capilo создана в 1937. Началось все с продукта Capillicure - первого лосьона от потери волос. Создание продукта было основано на исследовании, проведенном французскими дерматологами, которые впервые охарактеризовали различные типы алопеции.',
          btnText: 'подробнее',
          btnTarget: '#fastBuyModal'
      },
      {
        pic: 'sl-main-1.jpg',
        title: 'сияйте этим летом с маслом flavia',
        text: 'Линия Capilo создана в 1937. Началось все с продукта Capillicure - первого лосьона от потери волос. Создание продукта было основано на исследовании, проведенном французскими дерматологами, которые впервые охарактеризовали различные типы алопеции.',
        btnText: 'подробнее',
        btnTarget: '#numModal'
      },
      {
        pic: 'sl-main-1.jpg',
        title: 'сияйте этим летом с маслом flavia',
        text: 'Линия Capilo создана в 1937. Началось все с продукта Capillicure - первого лосьона от потери волос. Создание продукта было основано на исследовании, проведенном французскими дерматологами, которые впервые охарактеризовали различные типы алопеции.',
        btnText: 'подробнее',
        btnTarget: '#bannerModal'
      },
      {
        pic: 'sl-main-1.jpg',
        title: 'сияйте этим летом с маслом flavia',
        text: 'Линия Capilo создана в 1937. Началось все с продукта Capillicure - первого лосьона от потери волос. Создание продукта было основано на исследовании, проведенном французскими дерматологами, которые впервые охарактеризовали различные типы алопеции.',
        btnText: 'подробнее',
        btnTarget: '#thanksModal'
      }
  ]
})