.footer__inner
  .container
    .footer__row.row
      .footer__col.footer__col--logo
        include ../../../components/footer/logo-foot/index
        include ../../../components/footer/logo-foot-2/index
        include ../../../components/footer/payment/index
      .footer__col.footer__col--menu
        include ../../../components/footer/menu-foot-2/index
      .footer__col.footer__col--contacts
        include ../../../components/footer/contacts-foot-2/index