$_footer-bg:                              $brand-white;

.footer {
  background: $_footer-bg;
  border-top: 1px solid rgba($brand-gray-10, .2);

  .layout-simple & {
    padding: 30px 0 15px;
  }

  &__inner {
    padding-top: 35px;
    padding-bottom: 12px;
    
    @media (max-width: $screen-md-max) {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }

  &__small {
    margin-top: 20px;
    padding: 25px 0 15px;
    border-top: 1px solid rgba($text-footer-color, .5);
  }

  &__row {
    margin-left: -50px;
    margin-right: -50px;

    @media (max-width: $screen-lg-max) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__col {
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: $screen-lg-max) {
      padding-left: 10px;
      padding-right: 10px;
    }

    &--logo {
      flex: 0 0 25.5%;
      max-width: 25.5%;
      padding-top: 5px;

      @media (max-width: $screen-lg-max) {
        flex: 0 0 22%;
        max-width: 22%;
      }

      @media (max-width: $screen-md-max) {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
      }
    }

    &--menu {
      flex: 0 0 55.5%;
      max-width: 55.5%;

      @media (max-width: $screen-lg-max) {
        flex: 0 0 59%;
        max-width: 59%;
      }

      @media (max-width: $screen-md-max) {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
      }
    }

    &--contacts {
      flex: 0 0 19%;
      max-width: 19%;

      @media (max-width: $screen-md-max) {
        flex: 0 0 100%;
        max-width: 100%;
        order: 0;
      }
    }
  }
}