include ../../../../components/block/b-section/index

+b-head({
    className: 'b-head--cooperation b-head--align-center',
    title: {
        tag: 'h1',
        size: 'h1',
        text: 'Хотите стать нашим партнером?'
    }
})
.cooperation.content-wrap
  .row.justify-content-center
    .col-xl-8.col-lg-11.col-12
      p Хотите стать нашим партнером? Получите индивидуальное предложение и начинайте работать с нами уже сейчас!
      include ../cooperation-form/index
      p
        | Наша группа компаний является импортером и официальным представителем в Беларуси нескольких брендов профессиональной косметики и  электротоваров.
        br
        | Большой выбор  товаров разного ценового сегмента позволяет нам сделать предложение подходящее именно Вам!
      p.mb-10 Мы заботимся о Вашей репутации, а потому предлагаем регулярные обучающие семинары  и постоянную поддержку наших технологов. Для нас очень важно, чтобы вы умели правильно работать с нашим продуктом, получали отличные результаты и благодарных клиентов.
      include ../cooperation-menu/index