include ../../../../components/block/card-links-line-2/index

+card-links-line-2({
    cards: [
        {
            img: 'img/tmp/card-links-line-2-01.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 1000ml',
            kol: '1',
            cost: '22 BYN'
        },
        {
            img: 'img/tmp/card-links-line-2-01.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 500ml',
            kol: '1',
            cost: '18 BYN'
        },
        {
            img: 'img/tmp/card-links-line-2-02.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 1000ml',
            kol: '1',
            cost: '20 BYN'
        }
    ]
})