.logo-desk {
  display: flex;
  align-items: center;

  .wrap {
    display: table-cell;
    vertical-align: middle;
    flex: 0 0 100%;
    max-width: 100%;

    > a,
    > span {
      display: flex;
      align-items: center;
      @include font-family-cormorant-r();
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: $brand-gray-12;
      text-decoration: none;

      @media (max-width: $screen-lg-max) {
        font-size: 20px;
        justify-content: center;
      }

      @include hover-focus() {
        text-decoration: none;
      }
    }
  }
}
