mixin accordion(data)
  .accordion#accordion-30
    .acc-group
      each item, i in data.items
        .panel
          .acc-heading
            a.link.svg-arrow(href='#', data-toggle='collapse', data-target='#accordion-' + i + '', class=i !== 0 ? 'collapsed' : '')
              span !{item.title}
          .collapse(id='accordion-' + i + '', data-parent='#accordion-30', class=i === 0 ? 'show' : '')
            .acc-body !{item.text}