$_accordion-padding-left:             40px;
$_accordion-top:                      17px;
$_accordion-font-size:                24px;

.accordion {
  //margin: 0 0 40px;

  &.lk-accordion {

    .panel {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;

      .link {
        display: block;
        padding: 17px 20px 17px 0;
        @include font-family-medium();
        font-size: 16px;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $brand-gray-12;

        @media (max-width: $screen-sm-max) {
          font-size: 14px;
          padding: 14px 20px 13px 0;
        }

        @include hover-focus() {
          color: rgba($brand-gray-12, .8);

          &:before {
            @include svg-arrow2-hover();
          }
        }

        &:before {
          top: 27px;
          left: auto;
          right: 0;

          @media (max-width: $screen-sm-max) {
            top: 22px;
          }
        }
      }
    }

    .acc-heading {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 1px solid rgba($brand-gray-10, .2);

      @media (max-width: $screen-sm-max) {
        border-bottom: none;

      }
    }

    .acc-body {
      padding-top: 20px;
      padding-left: 0;
    }
  }

  .panel {
    padding-left: $_accordion-padding-left;
    margin-bottom: 5px;

    @media (max-width: $screen-sm-max) {
      padding-left: 0;
      margin-bottom: 0;
      border-bottom: 1px solid rgba($brand-gray-10, .1);
    }

    &:first-child {

      @media (max-width: $screen-sm-max) {
        border-top: 1px solid rgba($brand-gray-10, .1);
      }
    }

    .link {
      font-size: $_accordion-font-size;
      text-decoration: none;
      position: relative;
      display: inline-block;

      @media (max-width: $screen-sm-max) {
        display: block;
        width: 100%;
        padding-right: 15px;
        font-size: 16px;
      }

      &:before {
        font-size: 7px;
        position: absolute;
        top: $_accordion-top;
        left: -$_accordion-padding-left - 1px;
        transform: rotate(-180deg);
        transition: transform .3s ease;

        @media (max-width: $screen-sm-max) {
          top: 11px;
          left: auto;
          right: 0;
        }
      }
      
      @include hover-focus {
        color: $link-color-hover;

        &:before {
          @include svg-arrow-hover();
        }
      }
    }

    .collapsed {
      color: $link-color;

      &:before {
        transform: rotate(0deg);
      }
    }
  }

  .acc-heading {
    padding: 0 0 17px;

    @media (max-width: $screen-sm-max) {
      padding: 12px 0 13px;
    }
  }

  .acc-body {
    font-size: 18px;
    line-height: 1.62;
    padding-bottom: 31px;
    padding-left: 9px;

    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
  }
}