include ../../../../components/block/full-catalog-sort/index

+full-catalog-sort({
    sortBy: {
        name: 'sort_by',
        placeholder: 'популярности',
        options: ['популярности', 'новинкам', 'возрастанию цены', 'убыванию цены']
    }
})