include ../../../../components/block/full-catalog-sort/index

+full-catalog-sort({
    sortBy: {
        name: 'sort_by',
        placeholder: 'По популярности',
        options: ['По популярности', 'По новинкам', 'По возрастанию цены', 'По убыванию цены']
    }
})