.content-wrap.lk-content-wrap
  .discont
    .discont__row.row
      .discont__col.discont__col--left
        .discont__title Ваша скидка 5%
        .discont__level уровень карты: бронзовый
        +btn-secondary({text: 'сменить карту'})
      .discont__col.discont__col--right
        img.discont__img(src=DB.DIR + 'img/tmp/discont.jpg', alt='alt')
    .discont__subtitle Условия дисконтной программы
    .discont__text
      | Дисконтная программа магазина профессиональной косметики - это возможность получать скидки до 10% от общей суммы покупок.
      br
      | Получить скидку можно при первой же покупке!
      br
      br
      | Карта «Профи» выдаётся бесплатно, при совершении единовременной покупки на сумму свыше 50 рублей. Она даёт ее владельцу право на постоянную скидку 5% и действовать начинает с момента активации. Благодаря чему уже первая покупка будет совершена с приятным бонусом.
      br
      br
      | Далее, в зависимости от суммы вашей покупки постоянная скидка может быть увеличена :
      br
      | на 7%- при совершении единовременной покупки свыше 100 бел.рублей
      br
      | На 10% - при совершении единовременной покупки свыше 150 бел.рублей