.discont {

  &__row {
    margin-bottom: 60px;
  }

  &__col {
    padding-left: 10px;
    padding-right: 10px;

    &--left {
      flex: 0 0 55.5%;
      max-width: 55.5%;

      @media (max-width: $screen-md-max) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &--right {
      flex: 0 0 44.5%;
      max-width: 44.5%;

      @media (max-width: $screen-md-max) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  &__pic-wrap {
    position: relative;
  }

  &__img {

    #db & {
      margin-bottom: 20px;

      @media (max-width: $screen-xs-max) {
        max-width: 300px;
      }
    }
  }

  &__code {
    display: inline-block;
    position: absolute;
    left: 124px;
    bottom: 40px;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $brand-black;
    
    @media (max-width: $screen-lg-max) {
      left: 55px;
      bottom: 19px;
    }

    @media (max-width: $screen-md-max) {
      left: 124px;
      bottom: 40px;
    }

    @media (max-width: $screen-xs-max) {
      left: 69px;
      bottom: 23px;
    }
  }

  &__title {
    @include font-family-cormorant-r();
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $brand-gray-10;
    margin-bottom: 20px;

    @media (max-width: $screen-lg-max) {
      font-size: 35px;
    }

    @media (max-width: $screen-md-max) {
      margin-bottom: 12px;
    }
  }

  &__level {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $brand-gray-11;
    margin-bottom: 40px;

    @media (max-width: $screen-lg-max) {
      font-size: 20px;
    }

    @media (max-width: $screen-md-max) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    @include font-family-medium();
    font-size: 18px;
    line-height: 1.6;
    text-transform: uppercase;
    color: $brand-black;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.63;
    text-align: justify;
    color: $brand-black;
  }

  .btn {
    margin-bottom: 20px;
  }
}