html body {
  background-color: $body-bg-outer-color;
}

.outer-bg {
  min-width: $site-min-width;

  @media (max-width: $grid-breakpoint-max) {
    overflow-x: hidden;
    height: 100%;// iPhone bug with overflow
  }

  .g-wrap & {
    max-width: $site-max-width;
    background: $body-bg-color;
    margin: 0 auto;
  }
}

.g-wrap {
  overflow: hidden;
  min-width: $site-min-width;

  .modal-open & {
    overflow: initial;
  }
}

.g-main {

  @media (max-width: $grid-breakpoint-max) {
    padding-top: 49px;
  }
}

.g-content {
  padding-bottom: 100px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 41px;
  }

  //@media (min-width: $screen-lg-min) {
  //
  //  .g-sidebar + & {
  //    padding-left: 30px;
  //  }
  //}

  .main & {
    padding-bottom: 20px;
  }

  .no-padding-bottom &,
  &.no-padding-bottom {
    padding-bottom: 0;
  }
}

.content-wrap {
  font-size: 18px;
  line-height: 1.62;

  @media (max-width: $screen-sm-max) {
    font-size: 16px;
  }
}