blockquote.style-2
  p.mb-0
    | Если Вас не устраивает ни один из приведенных ниже вариантов (сроки, стоимость и т. д.) -
    a(href='#') свяжитесь
    | с нашим менеджером и он обязательно подберет для вас оптимальный вариант!
