/* blockquote-style-2.scss */

// var ****************************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

blockquote.style-2 {
  padding: 38px 39px 40px;
  margin: 40px 0 0;
  background: $brand-white;
  border: 1px solid $brand-gray-10;
  font-size: 18px;
  line-height: 1.62;

  @media (max-width: $screen-sm-max) {
    margin: 20px 0 0;
    padding: 20px;
  }

  .title {
    margin-top: 0;
  }
}