.contacts-foot-2
  .contacts-foot-2__title
    a(href='#')
      span Контакты
  .contacts-foot-2__list
    .contacts-foot-2__item
      a.contacts-foot-2__link(href='tel:+375333823138')
        i.svg-contacts-foot-2-phone
        span +375 33 382 31 38
    .contacts-foot-2__item
      a.contacts-foot-2__link.contacts-foot-2__link--small(href='mailto:info@cospro.by')
        i.svg-contacts-foot-2-email
        span info@cospro.by
    .contacts-foot-2__item
      a.contacts-foot-2__link.contacts-foot-2__link--small(href='profi.minsk')
        i.svg-contacts-foot-2-insta
        span profi.minsk