mixin full-catalog-sort(data)
  .full-catalog-sort
    if (data.sortBy)
      .full-catalog-sort__sort-by-wrap
        .full-catalog-sort__sort-by-text Сортировать по:
        .full-catalog-sort__sort-by
          select.form-control.ui-select(name=data.sortBy.name)
            option(value='0', selected='', disabled='') #{data.sortBy.placeholder}
            for option, index in data.sortBy.options
              option(value=(index + 1)) #{option}