.full-catalog-sort {
  text-align: right;
  margin-bottom: 28px;

  &__sort-by-wrap {
    display: inline-block;
    margin-left: auto;
  }

  &__sort-by {
    display: inline-block;
    vertical-align: -5px;

    .ui-selectmenu-button {
      padding: 0 20px 0 0;
      border: none;
      @include font-family-regular();
      font-size: 18px;
    }

    .ui-selectmenu-icon {
      width: 10px;
    }

    .ui-front {

      .ui-menu {
        width: auto !important;
      }
    }
  }

  .ui-selectmenu-menu {
    right: 0;
    left: auto!important;
  }

  &__sort-by-text {
    display: inline-block;
  }
}