include ../../../../components/base/accordion/index
.prod
  .prod__row.prod__row--main.row
    .prod__col.prod__col--left.col-lg-5.col-12
      include ../sl-prod-wrap/index
    .prod__col.prod__col--right.col-lg-7.col-12
      .prod__row.prod__row--top.row
        .prod__col.col-lg-6.col-12
          .prod__top-text
            span Бренд:
            | &ensp;
            a(href='#') Alfaparf
        .prod__col.col-lg-6.col-12
          .prod__top-text.right-text
            span Артикул:
            | &ensp;
            span 893900272
      h1.prod__title.small Alfaparf Milano SDL Diamond Normal Hair <br>Кондиционер придающий блеск для нормальных волос
      .prod-tabs.tabs-border.tabs.mb-0
        ul.nav.nav-tabs.list-reset(role="tablist")
          li.nav-item
            a.nav-link.active(href='#tab-1', data-toggle='tab')
              span 100 мл
          li.nav-item
            a.nav-link(href='#tab-2', data-toggle='tab')
              span 50 мл
        .tab-content
          #tab-1.tab-pane.fade.in.active.show(role='tabpanel')
            .prod__cost 107.10 BYN
            .prod__row.prod__row--buy.row
              .prod__col.prod__col--buy.prod__col--no-margin-right
                include ../../../block/quantity/index
              .prod__col.prod__col--buy
                +btn-primary({type: 'button', text: '<span class="d-none d-lg-block">быстрая покупка</span><span class="d-block d-lg-none">Купить</span>'})(data-toggle='modal', data-target='#fastBuyModal')
              .prod__col.prod__col--buy
                +btn-primary({outline: true, type: 'button', className: 'with-icon icon-left addToBasket js-addToBasket', text: '<span class="icon"></span><span>в корзину</span>'})
              .prod__col.prod__col--buy.d-none.d-lg-block
                +btn-primary({outline: true, type: 'button', className: 'with-icon addFavorites', text: '<span class="icon"></span>'})
            +accordion({
                items: [
                    {
                        title: 'Описание',
                        text: 'Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.'
                    },
                    {
                        title: 'Доставка',
                        text: 'Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.'
                    },
                    {
                        title: 'Обмен и возврат',
                        text: 'Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.'
                    }
                ]
            })
          #tab-2.tab-pane.fade(role='tabpanel')
            .prod__cost 107.10 BYN
            .prod__row.prod__row--buy.row
              .prod__col.prod__col--buy
                include ../../../block/quantity/index
              .prod__col.prod__col--buy
                +btn-primary({
                    type: 'button',
                    text: '<span class="d-none d-lg-block">быстрая покупка</span><span class="d-block d-lg-none">Купить</span>'
                })(data-toggle='modal', data-target='#fastBuyModal')
              .prod__col.prod__col--buy
                +btn-primary({
                    outline: true,
                    type: 'button',
                    className: 'with-icon icon-left addToBasket js-addToBasket',
                    text: '<span class="icon"></span><span>в корзину</span>'
                })
              .prod__col.prod__col--buy.d-none.d-lg-block
                +btn-primary({
                    outline: true,
                    type: 'button',
                    className: 'with-icon addFavorites',
                    text: '<span class="icon"></span>'
                })
            +accordion({
                items: [
                    {
                        title: 'Описание',
                        text: 'Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.'
                    },
                    {
                        title: 'Доставка',
                        text: 'Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.'
                    },
                    {
                        title: 'Обмен и возврат',
                        text: 'Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.'
                    }
                ]
            })