include ../../../../components/block/card-links-3/index
.brand
  .brand-banner
    .brand-banner__row.row
      .brand-banner__col.brand-banner__col--pic.col
        img.brand-banner__img.img(src=DB.DIR + 'img/tmp/brand-banner.png', alt='alt')
      .brand-banner__col.brand-banner__col--text.col
        .brand-banner__title Текст заголовка бренда
        .brand-banner__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis nisl et facilisis congue. Suspendisse aliquam dui vitae ultrices luctus. Nam quis scelerisque felis. Morbi a elementum odio. Maecenas vitae diam a tortor volutpat vestibulum eget nec nisi. Proin consectetur iaculis iaculis.
  +card-links-3({
      colClassName: 'col-xl-3 col-lg-4 col-6',
      cards: [
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom card-links-3-card--price-red',
              img: 'img/tmp/card-links-3-card-02.png',
              title: 'bes',
              desc: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
              sale: {
                  items: [{
                      text: 'sale'
                  }]
              },
              price: '21 BYN',
              old: '28 BYN',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom',
              img: 'img/tmp/card-links-3-card-03.png',
              title: 'bes',
              desc: 'Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ',
              price: '26.10 BYN',
              old: '',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom',
              img: 'img/tmp/card-links-3-card-04.png',
              title: 'bes',
              desc: 'BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос',
              price: '33.70 BYN',
              old: '',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom card-links-3-card--price-red',
              img: 'img/tmp/card-links-3-card-02.png',
              title: 'bes',
              desc: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
              sale: {
                  items: [{
                      text: 'sale'
                  }]
              },
              price: '21 BYN',
              old: '28 BYN',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom',
              img: 'img/tmp/card-links-3-card-03.png',
              title: 'bes',
              desc: 'Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ',
              price: '26.10 BYN',
              old: '',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom',
              img: 'img/tmp/card-links-3-card-04.png',
              title: 'bes',
              desc: 'BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос',
              price: '33.70 BYN',
              old: '',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom card-links-3-card--price-red',
              img: 'img/tmp/card-links-3-card-02.png',
              title: 'bes',
              desc: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
              sale: {
                  items: [{
                      text: 'sale'
                  }]
              },
              price: '21 BYN',
              old: '28 BYN',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom',
              img: 'img/tmp/card-links-3-card-03.png',
              title: 'bes',
              desc: 'Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ',
              price: '26.10 BYN',
              old: '',
          },
          {
              className: 'card-links-3-card--small card-links-3-card--no-bottom',
              img: 'img/tmp/card-links-3-card-04.png',
              title: 'bes',
              desc: 'BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос',
              price: '33.70 BYN',
              old: '',
          }
      ]
  })