.sl-prod-nav {
  position: relative;

  .wrap {
    position: relative;

    &.inited-not {

      .slide {

        &:nth-child(1) {
          float: none;
        }

        &:nth-child(1n+2) {
          display: none;
        }
      }
    }
  }

  .slider {
    //margin-left: -5px;
    //margin-right: -5px;
  }

  .slick-list {
    margin-left: -5px;
    margin-right: -5px;
  }

  .slide {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
  }

  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }

  .not-move {
    padding: 0;

    .slick-track {
      transform: none !important;
    }
  }

  .inner {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 9px;
    background-color: $body-bg-color;
    transition: $transition-default;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid #e5e5e5;
      background: transparent;
      transition: $transition-default;
    }

    &:hover,
    &:focus,
    .slick-current & {
      background-color: #fff;
    }

    .slick-current & {

      &:hover,
      &:focus {
        cursor: default;
      }
    }
  }

  .slick-current {

    .inner {

      &:before {
        background: rgba(81, 88, 85, 0.5);
      }
    }
  }

  .img {
    max-height: 100%;
  }
}