include ../../../components/base/btns/btn/index
#thanksModal.thanksModal.modal.fade.vertical-center(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .h1.modal-title.ta-center Спасибо!<br>ваш заказ принят
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        | Заказ принят в обработку - в скором времени вам перезвонит менеджер для его подтверждения. Детали заказа можно просмотреть в <a href="#">личном кабинете</a>.
