.quantity.js-quantity
  button.quantity__btn.quantity__btn--minus.js-quantity-btn.js-quantity-btn-minus
  input.quantity__input.js-quantity-input(type='number', value='1', min='1')
  button.quantity__btn.quantity__btn--plus.js-quantity-btn.js-quantity-btn-plus