.content-wrap.lk-content-wrap
  .basket
    .basket__row.row
      .basket__col.basket__col--left.col-lg-8.col-12
        .basket__text-row
          .basket__text-col
            | Информация о товаре
          .basket__text-col
            | Количество
          .basket__text-col
            | Стоимость
        include ../card-links-line-2/index
      .basket__col.basket__col--right.col-lg-4.col-12
        include ../form-ordering/index