.payment-delivery.content-wrap
  .row.justify-content-center
    .col-xl-8.col-lg-11.col-12
      .tabs-string.tabs-accordion.tabs
        ul.nav.nav-tabs.list-reset(role="tablist")
          li.nav-item
            a.nav-link.active(href='#tab-01', data-toggle='tab')
              span КАК СДЕЛАТЬ ЗАКАЗ
          li.nav-item
            a.nav-link(href='#tab-02', data-toggle='tab')
              span ВАРИАНТЫ ДОСТАВКИ
          li.nav-item
            a.nav-link(href='#tab-03', data-toggle='tab')
              span СПОСОБЫ ОПЛАТЫ
        #tabs-accordion.tab-content
          #tab-01.tab-pane.panel.fade.in.active.show(role='tabpanel')
            .acc-heading
              a.nav-link.acc-link(href='#', data-toggle='collapse', data-target='#tab-accordion-01') КАК СДЕЛАТЬ ЗАКАЗ
            #tab-accordion-01.collapse.show(data-parent='#tabs-accordion')
              .acc-body
                ol
                  li Выбрав одну или несколько позиций –  отправляйте их в корзину
                  li Заполните форму заказа в корзине
                  li Подтвердите выбранный вами вариант доставки или самовывоз
                  li Укажите, каким способом вам удобно оплатить покупку: наличный или безналичный расчет      (в зависимости от варианта доставки или самовывоз)
                  li Одним нажатием кнопки активируйте созданный заказ
          #tab-02.tab-pane.panel.fade(role='tabpanel')
            .acc-heading
              a.nav-link.acc-link.collapsed(href='#', data-toggle='collapse', data-target='#tab-accordion-02') ВАРИАНТЫ ДОСТАВКИ
            #tab-accordion-02.collapse(data-parent='#tabs-accordion')
              .acc-body
                h3 Доставка курьером по Минску
                p
                  | Стоимость курьерской доставки 5 BYN. Бесплатная доставка при заказе на сумму от 50 BYN.
                  br
                  | Доставка осуществляется с понедельника по пятницу.
                  br
                  | Если заказ сделан до 12:00, доставка осуществляется в этот же день после 17:00.
                  br
                  | Если заказ сделан после 12:00, доставка происходит на следующий день (при наличии товара на складе).
                h3 Доставка по Беларуси
                p Оформив заказ доставки по Беларуси вы сможете выбрать услугу «До отделения», либо «До двери». Стоимость доставки зависит от выбранного варианта и рассчитывается исходя из тарифов компании «Европочта». Срок доставки 2-3 дня с момента отправки.
                h3 Самовывоз
                p.mb-0 Адрес для самовывоза: г. Минск, ул. Сурганова 50, второй этаж, место 56 магазин «Профи». Сделать это можно в течении 3-х дней с момента подтверждения заказа менеджером, с 10:00 до 20:00
                blockquote.style-2
                  p.mb-0
                    | Если Вас не устраивает ни один из приведенных ниже вариантов <br>(сроки, стоимость и т. д.) -
                    a(href='#') свяжитесь
                    |  с нашим менеджером и он обязательно подберет для вас оптимальный вариант!
          #tab-03.tab-pane.panel.fade(role='tabpanel')
            .acc-heading
              a.nav-link.acc-link.collapsed(href='#', data-toggle='collapse', data-target='#tab-accordion-03') СПОСОБЫ ОПЛАТЫ
            #tab-accordion-03.collapse(data-parent='#tabs-accordion')
              .acc-body
                ul
                  li
                    | Наличными деньгами курьеру или при самовывозе на ТЦ Рига. При расчете наличными вам выдается кассовый чек, по образцу:
                    img.img.mt-2.mb-1(src=DB.DIR + 'img/tmp/receipt.png', alt='alt')
                    | Курьер принимает только наличные деньги. Расчет производится в белорусских рублях.
                  li Банковской картой при самовывозе на ТЦ Рига,  а также через систему электронных платежей на нашем сайте
                blockquote.style-2
                  p.mb-0
                    | Безопасность совершения платежа обеспечивается современными методами проверки, шифрования и передачи данных по закрытым каналам связи.
                    br
                    br
                    | Ввод данных карточки осуществляется на защищенной авторизационной странице банка. Для оплаты необходимо ввести реквизиты карточки: номер, имя держателя, срок действия и трехзначный код безопасности. Трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard) — это три цифры, находящиеся на обратной стороне карточки. Если карточка поддерживает технологию 3DSecure, для ввода кода безопасности Вы будете перенаправлены на страницу банка, выпустившего карточку.
                    br
                    br
                    | Предоставляемая Вами персональная информация (например: имя, адрес, телефон, e&#8209;mail, номер банковской карты и прочее) является конфиденциальной и не подлежит разглашению. Данные карточки передаются только в зашифрованном виде и не сохраняются на данном интернет-ресурсе.