include ../../../sliders/template/sl-prod/index
include ../../../sliders/template/sl-prod-nav/index

.sl-prod-wrap
  +sl-prod({
      slides: [
          {
              pic: 'sl-prod-0.png'
          }
      ]
  })