.sl-prod-wrap {
  position: relative;
  max-width: 530px;
  margin-bottom: 20px;

  //@media (max-width: $screen-md-max) {
  //  max-width: 360px;
  //  margin: 0 auto 20px;
  //}
}

.sl-prod {
  position: relative;
  margin-bottom: 10px;

  .wrap {
    position: relative;
    background-color: $body-bg-color;

    &.inited-not {

      .slide {

        &:nth-child(1) {
          float: none;
        }

        &:nth-child(1n+2) {
          display: none;
        }
      }
    }
  }

  .slide {
    position: relative;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    //height: 600px;
    height: 100%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid #e5e5e5;
    }
  }

  .img {
    max-height: 100%;
  }
}