$_payment-width:                       5px;

.payment {

  .list {
    display: flex;
    margin: 0 (-$_payment-width);

    @media (max-width: $screen-md-max) {
      justify-content: center;
    }
  }

  .item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 5px;
    padding: 0 $_payment-width;
  }

  .link {
    opacity: 1;
    display: block;
    transition: $transition-default;

    @include hover-focus {
      opacity: .7;
    }
  }
}