// Breadcrumbs

$breadcrumb-font-size:              1.6rem;
$breadcrumb-padding-y:              1.5rem;
$breadcrumb-padding-x:              1.5rem;
$breadcrumb-item-padding:           .5rem;

$breadcrumb-margin-bottom:          4rem;

$breadcrumb-bg:                     transparent;
$breadcrumb-color:                  $brand-gray-11;
$breadcrumb-hover-color:            $brand-gray-10;
$breadcrumb-active-color:           $brand-gray-10;

$breadcrumb-border-radius:          0;

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  background-color: $breadcrumb-bg;
  font-size: $breadcrumb-font-size;
  letter-spacing: 0.05em;
}

.breadcrumb-item {
  margin-right: 11px;

  > a {
    color: $breadcrumb-color;

    @include hover-focus {
      color: $breadcrumb-hover-color;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  + .breadcrumb-item {

    &::before {
      @include png;
      @include png-breadcrumb();
      color: $breadcrumb-color;
      position: static;
      margin-right: 15px;
      vertical-align: 1px;
    }
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}