.card-links-4-card {
  flex: 1 1 auto;
  width: 100%;
  //max-width: 420px;
  display: block;
  position: relative;
  margin: 0 auto 0 0;
  background: $brand-white;
  text-decoration: none;
  overflow: hidden;
  transition: $transition-default;

  @include hover-focus() {

    .card-links-4-card__mask {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__main-link {

    @at-root {

      a#{&} {
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        ~ .card-links-4-card__inner,
        ~ .card-links-4-card__mask {
          pointer-events: none;

          a,
          button,
          input {
            pointer-events: auto;
          }
        }
      }
    }
  }

  a.card-links-4-card__main-link {

    @include hover-focus() {

      .desktop & {

        & ~ .card-links-4-card__inner {

        }
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 0;
  }

  &__mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: $transition-default;

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    .slider & {
      display: none;
    }
  }

  &__mask-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    filter: blur(4px);

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($brand-black, .5);
    }
  }

  &__mask-text {
    position: relative;
    @include font-family-bold();
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $brand-white;
    z-index: 1;
    padding: 15px;
  }

  &__img-wrap {
    position: relative;
    margin-bottom: 16px;
  }

  &__img {
    flex-shrink: 0;
    max-height: 100%;
  }

  &__descr {
    position: relative;
    width: 100%;
  }

  &__title {
    display: flex;
    position: relative;
    margin-bottom: 9px;
    @include font-family-bold();
    font-size: 16px;
    color: #333;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: $transition-default;
  }

  &__text {
    font-size: 14px;
    line-height: 1.43;
    color: $brand-gray-11;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 6px;
  }

  &__link {
    @include font-family-bold();
    font-size: 14px;
    color: $brand-gray-12;
    text-decoration: underline;
    text-decoration-color: rgba($brand-gray-12, .6);

    @include hover-focus() {
      text-decoration: none;
      text-decoration-color: rgba($brand-gray-12, 0);
    }
  }
}