include ../../../sliders/template/sl-brands/index

+sl-brands({
  slides: [
      {
        text: 'DYCON'
      },
      {
          text: 'GLORYA'
      },
      {
          text: 'EVABOND'
      },
      {
          text: 'IRISK'
      },
      {
          text: 'HAIRWAY'
      },
      {
          text: 'ITALY'
      },
      {
          text: 'KODI'
      },
      {
          text: 'LONDA'
      },
      {
          text: 'ALFAPHARM'
      },
      {
          text: 'DYCON'
      },
      {
          text: 'GLORYA'
      },
      {
          text: 'EVABOND'
      },
      {
          text: 'IRISK'
      },
      {
          text: 'HAIRWAY'
      },
      {
          text: 'ITALY'
      },
      {
          text: 'KODI'
      },
      {
          text: 'LONDA'
      },
      {
          text: 'ALFAPHARM'
      }
  ]
})