include ../../../../components/block/card-links-line/index

.history-subtitle Заказ 20.01.2021 / 3 товара на сумму 60 BYN
+card-links-line({
    cards: [
        {
            img: 'img/tmp/card-links-line-01.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 1000ml',
            kol: '1',
            cost: '22 BYN'
        },
        {
            img: 'img/tmp/card-links-line-01.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 500ml',
            kol: '1',
            cost: '18 BYN'
        },
        {
            img: 'img/tmp/card-links-line-01.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 800ml',
            kol: '1',
            cost: '20 BYN'
        }
    ]
})
.history-subtitle Заказ 12.03.2021 / 2 товара на сумму 100 BYN
+card-links-line({
    cards: [
        {
            img: 'img/tmp/card-links-line-01.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 500ml',
            kol: '1',
            cost: '60 BYN'
        },
        {
            img: 'img/tmp/card-links-line-01.png',
            text: 'BES активный шампунь для профилактики выпадения и активации роста новых волос c1',
            volume: 'Объем: 800ml',
            kol: '1',
            cost: '40 BYN'
        }
    ]
})