extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Статья';
  - DB.layout = 'wide';
  // - DB.bodyClass = 'no-padding-bottom'
block title
block content
  include ../../components/pages/article/article/index
block contentBottom
  include ../../components/pages/article/sl-article/index
  include ../../components/footer/subscription/index
block popup
  include ../../components/modals/fast-buy-modal/index