extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Карточка товара 2';
  - DB.layout = 'wide';
  - DB.bodyClass = 'no-padding-bottom'
  - DB.breadcrumb = ['Каталог', 'Ногти', 'Гель-лаки', 'IRISK NUDE STRONG Каучуковый гель-лак']
block title
block breadcrumbs
  include ../../components/base/breadcrumb/index
block content
  include ../../components/pages/card-2/prod/index
block contentBottom
  include ../../components/pages/card/sl-products/index
  include ../../components/footer/subscription/index
block popup
  include ../../components/modals/fast-buy-modal/index