extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Карточка товара';
  - DB.layout = 'wide';
  - DB.bodyClass = 'no-padding-bottom'
  - DB.breadcrumb = ['Каталог', 'Волосы', 'Бальзамы', 'Alfaparf Milano SDL Diamond Normal Hair Кондиционер придающий блеск для нормальных волос']
block title
block breadcrumbs
  include ../../components/base/breadcrumb/index
block content
  include ../../components/pages/card/prod/index
block contentBottom
  include ../../components/pages/card/sl-products/index
  include ../../components/footer/subscription/index
block popup
  include ../../components/modals/fast-buy-modal/index