extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Карточка товара';
  - DB.layout = 'wide';
  - DB.bodyClass = 'no-padding-bottom'
block title
block content
  include ../../components/pages/card/prod/index
block contentBottom
  include ../../components/pages/card/sl-products/index
  include ../../components/footer/subscription/index
block popup
  include ../../components/modals/fast-buy-modal/index