extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Сотрудничество';
  - DB.layout = 'wide';
  // - DB.bodyClass = 'no-padding-bottom'
  - DB.breadcrumb = ['Сотрудничество']
block title
block breadcrumbs
  include ../../components/base/breadcrumb/index
block content
  include ../../components/pages/cooperation/content/index
block contentBottom
  include ../../components/footer/subscription/index
block popup
  include ../../components/modals/fast-buy-modal/index