extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Избранное';
  - DB.layout = 'wide';
  - DB.breadcrumb = ['Избранное']
block title
block breadcrumbs
  include ../../components/base/breadcrumb/index
block content
  include ../../components/pages/favorites/content/index
block contentBottom
  include ../../components/footer/subscription/index
block popup
  include ../../components/modals/fast-buy-modal/index