extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Корзина';
  - DB.layout = 'wide';
  - DB.bodyClass = 'lk'
  - DB.breadcrumb = ['Корзина']
block title
block breadcrumbs
  include ../../components/base/breadcrumb/index
block content
  include ../../components/block/lk-classes/index
  include ../../components/pages/basket/content/index
block contentBottom
block popup
  include ../../components/modals/fast-buy-modal/index