extends ../tpl/main
block pageVars
  - DB.pageTitle = 'регистрация';
  - DB.layout = 'wide';
  - DB.bodyClass = 'no-padding-bottom lk'
  - DB.breadcrumb = ['Регистрация']
block title
block breadcrumbs
  include ../../components/base/breadcrumb/index
block content
  include ../../components/block/lk-classes/index
  include ../../components/pages/registration/content/index
block contentBottom
block popup
  include ../../components/modals/fast-buy-modal/index