extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Акция';
  - DB.layout = 'wide';
  - DB.bodyClass = 'no-padding-bottom'
  - DB.breadcrumb = ['Акции', 'Спрей 200мл после солнца в подарок']
block title
block breadcrumbs
  include ../../components/base/breadcrumb/index
block content
  include ../../components/pages/stock/content/index
block contentBottom
  include ../../components/pages/stock/sl-products/index
  include ../../components/footer/subscription/index
block popup
  include ../../components/modals/fast-buy-modal/index