include ../../../../components/block/b-section/index

+b-head({
    className: 'b-head--stock b-head--align-center',
    subtitle: '12-26 августа',
    title: {
        tag: 'h1',
        size: 'h1',
        text: 'СПРЕЙ ПОСЛЕ ЗАГАРА В ПОДАРОК!'
    }
})
.stock.content-wrap
  .row.justify-content-center
    .col-xl-8.col-lg-11.col-12
      p.mb-7
        | Летняя акция от Rilastil!
        br
        br
        | Увлажняющий успокаивающий спрей с легкой текстурой для кожи подверженной оксидативному стрессу из-за ультрафиолетового излучения. Сохраняет здоровье и эластичность кожи!
        br
        br
        | Вы получите спрей 200 мл в подарок при покупке 2-х любых средств из солнечной линии Rilastil - Sun System!
      .row-pics
        .col-pics
          img(src=DB.DIR + 'img/tmp/stock-01.jpg', alt='alt')