include ../../../../components/sliders/template/sl-products/index
include ../../../../components/sliders/nav/sl-nav/index
include ../../../../components/sliders/pager/sl-pager/index
include ../../../../components/block/b-section/index

+b-section({
    className: 'b-section--sl-products-bottom',
})
  +sl-products({
      nav: 'sl-nav',
      pager: 'sl-pager',
      title: 'товары акции',
      slides: [
          {
              className: 'price-red',
              img: 'img/tmp/card-links-3-card-05.png',
              title: 'RILASTIL',
              desc: 'Солнцезащитный флюид для чувствительной кожи SPF 50+',
              sale: {
                  items: [{
                      text: 'sale'
                  }]
              },
              price: '21 BYN',
              old: '28 BYN',
          },
          {
              className: '',
              img: 'img/tmp/card-links-3-card-06.png',
              title: 'RILASTIL',
              desc: 'Солнцезащитный флюид для чувствительной кожи SPF 50+',
              price: '22 BYN',
              old: '',
          },
          {
              className: '',
              img: 'img/tmp/card-links-3-card-05.png',
              title: 'RILASTIL',
              desc: 'Водостойкий крем для чувствительной кожи с pro-DNA complex SPF 50+',
              price: '26.10 BYN',
              old: '',
          },
          {
              className: '',
              img: 'img/tmp/card-links-3-card-06.png',
              title: 'RILASTIL',
              desc: 'Водостойкий флюид для чувствительной кожи SPF 100+',
              price: '33.70 BYN',
              old: '',
          },
          {
              className: 'price-red',
              img: 'img/tmp/card-links-3-card-05.png',
              title: 'RILASTIL',
              desc: 'Солнцезащитный флюид для чувствительной кожи SPF 50+',
              sale: {
                  items: [{
                      text: 'sale'
                  }]
              },
              price: '21 BYN',
              old: '28 BYN',
          }
      ]
  })