.menu-foot-2
  .inner
    ul.menu_level_1.break-word.list-reset
      li.item_1
        a(href='#')
          span Каталог
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span Кожа
            li.item_2
              a(href='#')
                span Волосы
            li.item_2
              a(href='#')
                span Ногти
            li.item_2
              span
                span Удаление волос
            li.item_2.d-md-none
              a(href='#')
                span Для мужчин
            li.item_2.d-md-none
              a(href='#')
                span Инструменты и аксессуары для парикмахера
    ul.menu_level_1.break-word.list-reset.d-none.d-md-block
      li.item_1
        a(href='#').d-none.d-md-block
          span <br>
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span Для мужчин
            li.item_2
              a(href='#')
                span Инструменты и аксессуары для парикмахера
    ul.menu_level_1.break-word.list-reset
      li.item_1
        span
          span Покупателю
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span Оплата и доставка
            li.item_2
              a(href='#')
                span Где купить
            li.item_2
              a(href='#')
                span Условия покупки
    ul.menu_level_1.break-word.list-reset
      li.item_1
        a(href='#')
          span Сотрудничество
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span Обучение
            li.item_2
              a(href='#')
                span Условия сотрудничества