$_menu_foot-2-color:                               $brand-gray-10;
$_menu_foot-2-color-hover:                         $_menu_foot-2-color;
$_menu_foot-2-color-active:                        $brand-gray-10;
$_menu_foot-2-color-active-hover:                  $_menu_foot-2-color-active;
$_menu_foot-2-columns-padding:                     50px;
$_menu_foot-2-columns-padding-lg:                  20px;

.menu-foot-2 {

  .inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 ($_menu_foot-2-columns-padding / -2);

    @media (max-width: $screen-lg-max) {
      margin: 0 ($_menu_foot-2-columns-padding-lg / -2);
    }
  }

  .menu_level_1 {
    margin: 0;
    width: 25%;

    @media (max-width: $screen-md-max) {
      width: 50%;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    .g-wrap & {
      padding: 0 ($_menu_foot-2-columns-padding / 2);

      @media (max-width: $screen-lg-max) {
        padding: 0 ($_menu_foot-2-columns-padding-lg / 2);
      }
    }
  }

  [class*=item] {

    > a,
    > span {
      font-size: 16px;
      line-height: 1.25;
      color: $_menu_foot-2-color;
    }

    > a {
      text-decoration: none;
      text-decoration-color: rgba($_menu_foot-2-color, .6);

      @include hover-focus {
        color: $_menu_foot-2-color-hover;
        text-decoration: underline;
        text-decoration-color: rgba($_menu_foot-2-color-hover, .6);
      }
    }

    &.active {

      > a,
      > span {
        color: $_menu_foot-2-color-active;
      }

      > a {
        text-decoration-color: rgba($_menu_foot-2-color-active, .6);

        @include hover-focus {
          color: $_menu_foot-2-color-active-hover;
          text-decoration-color: rgba($_menu_foot-2-color-active-hover, .6);
        }
      }
    }
  }

  .item_1 {
    margin-bottom: 30px;

    > a,
    > span {
      font-size: 16px;

      @media (max-width: $screen-lg-max) {
        font-size: 15px;
      }

      @media (max-width: $screen-md-max) {
        font-size: 16px;
      }
    }

    > a {

      @include hover-focus {
        text-decoration: underline;
        color: $_menu_foot-2-color-hover;
        text-decoration-color: $_menu_foot-2-color-hover;;
      }
    }

    &.active {

      > a {

        > span {

          &:after {
            background-color: $_menu_foot-2-color-active;
          }
        }
      }
    }
  }

  .menu_level_2 {
    margin: 9px 0 0;

    &--twice-columns {
      column-count: 2;
      column-gap: 30px;
    }
  }

  .item_2 {
    display: block;
    line-height: 1;
    margin: 0 0 7px;

    > a,
    > span {
      font-size: 12px;
      line-height: 1.4;

      @media (max-width: $screen-md-max) {
        font-size: 14px;
      }
    }
  }
}