include ../card-links-4-card/index
mixin card-links-4(data)
  .card-links-4(class=data.className)
    .card-links-4__row.row
      each card in data.cards
        .card-links-4__col(class=(data.colClassName ? data.colClassName : 'col-12 col-sm-6 col-lg-4'))
          +card-links-4-card(card)