.card-links-4 {

  &__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__card {
    flex: 1 1 auto;
    width: 100%;
    max-width: 575px;
    display: block;
    position: relative;
    margin: 0 auto 0 0;
    background: $brand-white;
    box-shadow: $box-shadow-base;
    text-decoration: none;
    overflow: hidden;
    transition: $transition-default;
  }

  a.card-links-4__card {

    @include hover-focus() {
      transform: translateY(-10px);
      text-decoration: none;

      .card-links-4__descr {
        background: $brand-1;
      }

      .card-links-4__title {
        text-decoration: underline;
        text-decoration-color: rgba($brand-white, 0.6);
      }
    }
  }

  &__img-wrap {
    position: relative;
    padding: 48.7% 0 0;
    background-color: $brand-white;
  }

  &__img-inner {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    flex-shrink: 0;
    max-height: 100%;
  }

  &__descr {
    position: relative;
    width: 100%;
    transition: $transition-default;
  }

  &__title {
    display: flex;
    position: relative;
    margin-bottom: 5px;
    @include font-family-bold();
    font-size: 16px;
    line-height: 1.34;
    color: $brand-white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 1.34 * 3em;
    transition: $transition-default;
  }

  &__text {
    font-size: 14px;
    line-height: 1.43;
    color: $brand-gray-11;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}