include ../../../../components/aside/lk-aside/index

+lk-aside({
    list: [
        {
            className: '',
            icon: 'history',
            text: 'история заказов'
        },
        {
            className: '',
            icon: 'personal',
            text: 'персональные данные'
        },
        {
            className: 'active',
            icon: 'address',
            text: 'адресная книга'
        },
        {
            className: '',
            icon: 'favorites',
            text: 'избранное'
        },
        {
            className: '',
            icon: 'discont',
            text: 'дисконтная программа'
        }
    ]
})