
<!-- - DB.bodyClass = 'no-padding-bottom'--><!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		<meta name="cmsmagazine" content="76c5fb8872e8328840d5f6d32da019af">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Контакты</title>
		<link rel="apple-touch-icon" sizes="180x180" href="manifest/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="manifest/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="manifest/favicon-16x16.png">
		<link rel="manifest" href="manifest/manifest.json">
		<link rel="shortcut icon" href="manifest/favicon.ico">
		<meta name="msapplication-TileColor" content="#080508">
		<meta name="msapplication-TileImage" content="manifest/mstile-144x144.png">
		<meta name="msapplication-config" content="manifest/browserconfig.xml">
		<meta name="theme-color" content="#080508">
		<link rel="stylesheet" href="css/app.min.css">
		<script src="js/libs/jquery-3.3.1.min.js"></script>
		<script src="js/libs/modernizr-custom.min.js"></script>
		<script src="js/libs/current-device.min.js"></script>
		<script src="js/libs/jquery.mCustomScrollbar-custom.min.js"></script>
		<script src="js/libs/jquery.touchSwipe.min.js"></script>
		<script src="js/libs/jquery.validate.min.js"></script>
		<script src="js/libs/jquery.validate_be.min.js"></script>
		<script src="js/libs/jquery.validate_en.min.js"></script>
		<script src="js/libs/jquery.validate_ru.min.js"></script>
		<script src="js/libs/jquery.maskedinput.min.js"></script>
		<script src="js/libs/jquery-ui.datepicker.min.js"></script>
		<script src="js/libs/jquery-ui.datepicker_by.min.js"></script>
		<script src="js/libs/jquery-ui.datepicker_ru.min.js"></script>
		<script src="js/app.min.js"></script>
	</head>
	<body class="ru js-off pm-close  inner">
		<div class="db g-wrap" id="db">
			<div class="outer-bg pm-content">
				<header class="header">
					<div class="header__desktop">
						<div class="container">
							<div class="header__row row">
								<div class="header__col header__col--hamb d-lg-none">
									<div class="hamb-wrap">
										<button class="hamburger pm-opener closed"><span class="ico"></span></button>
									</div>
								</div>
								<div class="header__col header__col--logo d-none d-lg-flex">
									<div class="logo-desk">
										<div class="wrap">
											<a href="/"><span>cospro.by</span></a>
										</div>
									</div>
								</div>
								<div class="header__col header__col--menu d-none d-lg-flex">
									<div class="menu-drop-8 js-menu-tablet js-menuMore d-print-none">
										<ul class="menu_level_1 break-word list-reset">
											<li class="item_1 has-submenu-2"><a href="#"><span>Каталог</span><span class="icon"></span></a>
												<div class="submenu-4">
													<div class="submenu-4__row row">
														<div class="submenu-4__col submenu-4__col--left">
															<div class="level_2">
																<div class="item_2" data-submenu="submenu-4-1"><a href="#">Волосы</a></div>
																<div class="item_2" data-submenu="submenu-4-2"><a href="#">Брови и ресницы</a></div>
																<div class="item_2"><a href="#">Тело</a></div>
																<div class="item_2"><a href="#">Манирюк и педикюр</a></div>
																<div class="item_2"><a href="#">Электротовары</a></div>
																<div class="item_2"><a href="#">Товары для парикмахера</a></div>
																<div class="item_2"><a href="#">Прочие</a></div>
															</div>
														</div>
														<div class="submenu-4__col submenu-4__col--right">
															<div class="submenu_inner_items">
																<div class="submenu_inner_item" id="submenu-4-1">
																	<div class="row">
																		<div class="col-lg-4 col-12">
																			<div class="level_3">
																				<div class="item_3"><a href="#">Обработка</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Ножницы для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для педикюра</a></div>
																						<div class="item_4"><a href="#">Фрезы</a></div>
																						<div class="item_4"><a href="#">Пилки и терки для стоп</a></div>
																						<div class="item_4"><a href="#">Лопатки, шаберы</a></div>
																						<div class="item_4"><a href="#">Пилочка и бафы</a></div>
																						<div class="item_4"><a href="#">Сопутствующие материалы</a></div>
																					</div>
																				</div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Уход</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Для удаления кутикулы</a></div>
																						<div class="item_4"><a href="#">Для питания кутикулы</a></div>
																						<div class="item_4"><a href="#">Для рук</a></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-lg-4 col-12">
																			<div class="level_3">
																				<div class="item_3"><a href="#">Базы, топы, гели</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Базы под гель-лак</a></div>
																						<div class="item_4"><a href="#">Топы под гель-лак</a></div>
																						<div class="item_4"><a href="#">Праймеры</a></div>
																						<div class="item_4"><a href="#">Гели</a></div>
																						<div class="item_4"><a href="#">Формы для наращивания</a></div>
																						<div class="item_4"><a href="#">Полигель</a></div>
																					</div>
																				</div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Аппараты для маникюра</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Ванночки</a></div>
																						<div class="item_4"><a href="#">Пылесосы</a></div>
																						<div class="item_4"><a href="#">Лампы</a></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-lg-4 col-12">
																			<div class="level_3">
																				<div class="item_3"><a href="#">Дизайн ногтей</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Наклейки</a></div>
																						<div class="item_4"><a href="#">Блестки,стразы</a></div>
																						<div class="item_4"><a href="#">Фольга, поталь, втирка</a></div>
																					</div>
																				</div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Обработка инструментов</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Пакеты для стрелизации</a></div>
																						<div class="item_4"><a href="#">Контейнеры для дезинфекции</a></div>
																					</div>
																				</div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Кисти для маникюра</a></div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Наборы для маникюра</a></div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Очищение и снятие</a></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="submenu_inner_item" id="submenu-4-2">
																	<div class="row">
																		<div class="col-lg-4 col-12">
																			<div class="level_3">
																				<div class="item_3"><a href="#">Обработка</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Ножницы для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для педикюра</a></div>
																						<div class="item_4"><a href="#">Фрезы</a></div>
																						<div class="item_4"><a href="#">Пилки и терки для стоп</a></div>
																						<div class="item_4"><a href="#">Лопатки, шаберы</a></div>
																						<div class="item_4"><a href="#">Пилочка и бафы</a></div>
																						<div class="item_4"><a href="#">Сопутствующие материалы</a></div>
																					</div>
																				</div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Уход</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Для удаления кутикулы</a></div>
																						<div class="item_4"><a href="#">Для питания кутикулы</a></div>
																						<div class="item_4"><a href="#">Для рук</a></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-lg-4 col-12">
																			<div class="level_3">
																				<div class="item_3"><a href="#">Обработка</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Ножницы для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для педикюра</a></div>
																						<div class="item_4"><a href="#">Фрезы</a></div>
																						<div class="item_4"><a href="#">Пилки и терки для стоп</a></div>
																						<div class="item_4"><a href="#">Лопатки, шаберы</a></div>
																						<div class="item_4"><a href="#">Пилочка и бафы</a></div>
																						<div class="item_4"><a href="#">Сопутствующие материалы</a></div>
																					</div>
																				</div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Уход</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Для удаления кутикулы</a></div>
																						<div class="item_4"><a href="#">Для питания кутикулы</a></div>
																						<div class="item_4"><a href="#">Для рук</a></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-lg-4 col-12">
																			<div class="level_3">
																				<div class="item_3"><a href="#">Обработка</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Ножницы для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для маникюра</a></div>
																						<div class="item_4"><a href="#">Кусачки для педикюра</a></div>
																						<div class="item_4"><a href="#">Фрезы</a></div>
																						<div class="item_4"><a href="#">Пилки и терки для стоп</a></div>
																						<div class="item_4"><a href="#">Лопатки, шаберы</a></div>
																						<div class="item_4"><a href="#">Пилочка и бафы</a></div>
																						<div class="item_4"><a href="#">Сопутствующие материалы</a></div>
																					</div>
																				</div>
																			</div>
																			<div class="level_3">
																				<div class="item_3"><a href="#">Уход</a>
																					<div class="level_4">
																						<div class="item_4"><a href="#">Для удаления кутикулы</a></div>
																						<div class="item_4"><a href="#">Для питания кутикулы</a></div>
																						<div class="item_4"><a href="#">Для рук</a></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="item_1 has-submenu-2"><a href="#"><span>Бренды</span></a></li>
											<li class="item_1"><span><span>Блог</span></span></li>
											<li class="item_1"><span><span>О нас</span></span></li>
											<li class="item_1"><a href="#"><span>Сотрудничество</span></a></li>
											<li class="item_1 has-submenu"><a href="#"><span>Покупателю</span></a></li>
										</ul>
									</div>
								</div>
								<div class="header__col header__col--links">
									<div class="head-links">
										<div class="head-links__row">
											<div class="head-links__col">
												<div class="head-links__link head-links__link--search">
													<div class="search-head-5">
														<div class="backdrop"></div>
														<div class="wrap">
															<div class="btn-open"></div>
															<div class="wrap">
																<form class="search-form" action="/search/" method="get">
																	<div class="form-wrap">
																		<input class="btn btn-primary btn-search" name="btn-search" type="submit" value="Найти">
																		<input class="field" id="headSearch" type="search" placeholder="Поиск по сайту" name="q" maxlength="50" required="">
																		<div class="btn-close"></div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="head-links__col head-links__col--logo d-block d-lg-none">
												<div class="logo-desk">
													<div class="wrap">
														<a href="/"><span>cospro.by</span></a>
													</div>
												</div>
											</div>
											<div class="head-links__col">
												<div class="head-links__link head-links__link--cart">
													<div class="head-cart"><a class="head-cart__link" href="#">
															<div class="head-cart__icon"></div></a>
														<div class="head-cart__drop d-none d-lg-block">
															<div class="head-cart__drop-inner">
																<div class="head-cart__drop-title">Ваши товары</div>
																<div class="head-cards">
																	<div class="head-card">
																		<div class="head-card__inner">
																			<div class="head-card__left">
																				<div class="head-card__pic-wrap">
																					<div class="pic-inner"><img class="img" src="img/tmp/head-cards-01.png" alt="head-cards"></div>
																				</div>
																			</div>
																			<div class="head-card__right">
																				<div class="head-card__close">
																					<div class="head-card__close-btn"></div>
																				</div>
																				<div class="head-card__row">
																					<div class="head-card__col head-card__col--text">
																						<div class="head-card__text">Nouvelle Extreme Gel Гель для укладки волос силь..</div>
																					</div>
																					<div class="head-card__col head-card__col--btn">
																						<div class="quantity js-quantity">
																							<button class="quantity__btn quantity__btn--minus js-quantity-btn js-quantity-btn-minus"></button>
																							<input class="quantity__input js-quantity-input" type="number" value="1" min="1">
																							<button class="quantity__btn quantity__btn--plus js-quantity-btn js-quantity-btn-plus"></button>
																						</div>
																					</div>
																					<div class="head-card__col head-card__col--sum">
																						<div class="head-card__sum">10.00 BYN</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="head-card">
																		<div class="head-card__inner">
																			<div class="head-card__left">
																				<div class="head-card__pic-wrap">
																					<div class="pic-inner"><img class="img" src="img/tmp/head-cards-02.png" alt="head-cards"></div>
																				</div>
																			</div>
																			<div class="head-card__right">
																				<div class="head-card__close-btn"></div>
																				<div class="head-card__row">
																					<div class="head-card__col head-card__col--text">
																						<div class="head-card__text">BES АКТИВНЫЙ ШАМПУНЬ ДЛЯ ЖИРНЫХ ВОЛОС S1</div>
																					</div>
																					<div class="head-card__col head-card__col--btn">
																						<div class="quantity js-quantity">
																							<button class="quantity__btn quantity__btn--minus js-quantity-btn js-quantity-btn-minus"></button>
																							<input class="quantity__input js-quantity-input" type="number" value="1" min="1">
																							<button class="quantity__btn quantity__btn--plus js-quantity-btn js-quantity-btn-plus"></button>
																						</div>
																					</div>
																					<div class="head-card__col head-card__col--sum">
																						<div class="head-card__sum">26.00 BYN</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="head-cart__drop-total">
																	<div class="head-cart__drop-total-title">СУММА ЗАКАЗА</div>
																	<div class="head-cart__drop-total-sum">36.00 BYN</div>
																</div>
																										<button class="btn btn-primary" type="button">ПЕРЕЙТИ В КОРЗИНУ</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="head-links__col"><a class="head-links__link head-links__link--favorites" href="#">
													<div class="head-links__icon"></div></a></div>
											<div class="head-links__col"><a class="head-links__link head-links__link--human" href="#">
													<div class="head-links__icon"></div></a></div>
										</div>
									</div>
								</div>
								<div class="header__col header__col--contacts d-none d-lg-flex">
									<div class="contacts-head-5">
										<div class="contacts-head-5__dropdown-wrap">
											<div class="contacts-head-5__dropdown dropdown"><a class="contacts-head-5__toggle dropdown-toggle" data-toggle="dropdown" href="#"><span>+375 (33) 382-31-38</span></a>
												<div class="contacts-head-5__menu dropdown-menu">
													<div class="contacts-head-5__list">
														<div class="contacts-head-5__item">
															<div class="contacts-head-5__item-subtitle">Горячая линия:</div><a class="contacts-head-5__item-link" href="tel:+375333823138"><span>+375 (33) 382-31-38</span></a>
															<div class="contacts-head-5__item-helper">(вт. и чт. с 10:00 до 12:00)</div>
														</div>
														<div class="contacts-head-5__item">
															<div class="contacts-head-5__item-subtitle">Горячая линия:</div><a class="contacts-head-5__item-link" href="tel:+375333823138"><span>+375 (33) 382-31-38</span></a>
															<div class="contacts-head-5__item-helper">(вт. и чт. с 10:00 до 12:00)</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<div class="g-main">
					<div class="container">
												<nav>
													<ol class="breadcrumb list-reset">
														<li class="breadcrumb-item">
															<a href="#">Покупателю</a>
														</li>
														<li class="breadcrumb-item">
															<span class="active">Контакты</span>
														</li>
													</ol>
												</nav>
						<main class="g-content" id="workarea">
														<div class="b-head b-head--contacts b-head--align-center">
															<div class="b-head__row">
																<div class="b-head__col b-head__col--title">
																	<h1 class="b-head__title h1">контакты</h1>
																</div>
															</div>
														</div>
							<div class="contacts">
								<div class="contacts__row row">
									<div class="contacts__col col-md-4 col-12">
										<div class="contacts__block">
											<h3 class="contacts__title">В мессенджерах</h3>
											<div class="contacts__links"><a class="contacts__item contacts__item--with-icon" href="tel:+375293243179"><span class="contacts__icon contacts__icon--viber"></span><span>+375 (29) 324-31-79</span></a><a class="contacts__item contacts__item--with-icon" href="#"><span class="contacts__icon contacts__icon--inst"></span><span>profi.minsk</span></a></div>
										</div>
									</div>
									<div class="contacts__col col-md-4 col-12">
										<div class="contacts__block">
											<h3 class="contacts__title">Телефон</h3>
											<div class="contacts__links"><a class="contacts__item" href="tel:+375333823138"><span>+375 (33) 382-31-38</span></a><a class="contacts__item" href="tel:+375293243179"><span>+375 (29) 324-31-79</span></a></div>
										</div>
										<div class="contacts__block">
											<h3 class="contacts__title">Электронная почта</h3>
											<div class="contacts__links"><a class="contacts__item" href="mailto:info@cospro.by"><span>info@cospro.by</span></a></div>
										</div>
									</div>
									<div class="contacts__col col-md-4 col-12">
										<div class="contacts__block">
											<h3 class="contacts__title">Офис</h3>
											<div class="contacts__links">
												<div class="contacts__item"><span>г. Минск, ул. Сурганова 50( ТЦ Рига), второй этаж</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</main>
						<div class="subscription">
							<div class="h1 title"><span>СЛЕДИТЕ ЗА ОБНОВЛЕНИЯМИ</span></div>
							<form class="b-form" id="form-subscript-confirm" action="#">
								<fieldset>
									<div class="control-group">
										<div class="input-wrap">
											<input class="input form-control input-with-icon input-with-icon--email" type="email" name="sf_EMAIL" placeholder="Введите ваш e-mail" value="" required>
											<div class="b-btn">
																								<input class="btn btn-primary" name="OK" type="submit" value="подписаться на рассылку">
											</div>
										</div>
									</div>
								</fieldset>
							</form>
							<script>
								!function () {
								    'use strict';
								
								    function initValid() {
								        // Validation options http://jqueryvalidation.org/documentation/
								        var form_validator = $('#form-subscript-confirm');
								        if (form_validator.length && $.fn.validate) {
								            form_validator.validate({
								                rules: {
								                    'sf_EMAIL': {
								                        required: true,
								                        email: true
								                    }
								                }
								            });
								        }
								    }
								
								    $(function () {
								        initValid();
								    });
								}();
							</script>
						</div>
					</div>
				</div>
				<footer class="footer d-print-none">
					<div class="footer__inner">
						<div class="container">
							<div class="footer__row row">
								<div class="footer__col footer__col--logo">
									<div class="logo-foot"><a class="logo-foot__link" href="#">
											<div class="logo-foot__text">cospro.by</div></a></div>
									<div class="logo-foot-2">
										<div class="title">&copy; CosPro
											2021<br>Интернет-магазин косметики и парфюмерии
										</div>
									</div>
									<div class="payment">
										<ul class="list list-reset">
											<li class="item"><a class="link" href="#"><img src="img/tmp/payment/pay-1.png" alt="payment" title="payment"></a></li>
											<li class="item"><a class="link" href="#"><img src="img/tmp/payment/pay-2.png" alt="payment" title="payment"></a></li>
											<li class="item"><a class="link" href="#"><img src="img/tmp/payment/pay-3.png" alt="payment" title="payment"></a></li>
											<li class="item"><a class="link" href="#"><img src="img/tmp/payment/pay-4.png" alt="payment" title="payment"></a></li>
											<li class="item"><a class="link" href="#"><img src="img/tmp/payment/pay-5.png" alt="payment" title="payment"></a></li>
										</ul>
									</div>
								</div>
								<div class="footer__col footer__col--menu">
									<div class="menu-foot-2">
										<div class="inner">
											<ul class="menu_level_1 break-word list-reset">
												<li class="item_1"><a href="#"><span>Каталог</span></a>
													<div class="submenu">
														<ul class="menu_level_2 list-reset">
															<li class="item_2"><a href="#"><span>Кожа</span></a></li>
															<li class="item_2"><a href="#"><span>Волосы</span></a></li>
															<li class="item_2"><a href="#"><span>Ногти</span></a></li>
															<li class="item_2"><span><span>Удаление волос</span></span></li>
															<li class="item_2 d-md-none"><a href="#"><span>Для мужчин</span></a></li>
															<li class="item_2 d-md-none"><a href="#"><span>Инструменты и аксессуары для парикмахера</span></a></li>
														</ul>
													</div>
												</li>
											</ul>
											<ul class="menu_level_1 break-word list-reset d-none d-md-block">
												<li class="item_1">
													<div class="d-none d-md-inline-block"><span><br></span></div>
													<div class="submenu">
														<ul class="menu_level_2 list-reset">
															<li class="item_2"><a href="#"><span>Для мужчин</span></a></li>
															<li class="item_2"><a href="#"><span>Инструменты и аксессуары для парикмахера</span></a></li>
														</ul>
													</div>
												</li>
											</ul>
											<ul class="menu_level_1 break-word list-reset">
												<li class="item_1"><span><span>Покупателю</span></span>
													<div class="submenu">
														<ul class="menu_level_2 list-reset">
															<li class="item_2"><a href="#"><span>Оплата и доставка</span></a></li>
															<li class="item_2"><a href="#"><span>Где купить</span></a></li>
															<li class="item_2"><a href="#"><span>Условия покупки</span></a></li>
														</ul>
													</div>
												</li>
											</ul>
											<ul class="menu_level_1 break-word list-reset">
												<li class="item_1"><a href="#"><span>Сотрудничество</span></a>
													<div class="submenu">
														<ul class="menu_level_2 list-reset">
															<li class="item_2"><a href="#"><span>Обучение</span></a></li>
															<li class="item_2"><a href="#"><span>Условия сотрудничества</span></a></li>
														</ul>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="footer__col footer__col--contacts">
									<div class="contacts-foot-2">
										<div class="contacts-foot-2__title"><a href="#"><span>Контакты</span></a></div>
										<div class="contacts-foot-2__list">
											<div class="contacts-foot-2__item"><a class="contacts-foot-2__link" href="tel:+375333823138"><i class="svg-contacts-foot-2-phone"></i><span>+375 33 382 31 38</span></a></div>
											<div class="contacts-foot-2__item"><a class="contacts-foot-2__link contacts-foot-2__link--small" href="mailto:info@cospro.by"><i class="svg-contacts-foot-2-email"></i><span>info@cospro.by</span></a></div>
											<div class="contacts-foot-2__item"><a class="contacts-foot-2__link contacts-foot-2__link--small" href="profi.minsk"><i class="svg-contacts-foot-2-insta"></i><span>profi.minsk</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
			<div class="pm">
				<div class="pm-backdrop"></div>
				<div class="pm-wrap">
					<div class="hamburger-closer">
						<div class="pm-closer closed"></div>
					</div>
					<div class="pm-inner">
						<div class="menu-mob">
							<ul class="menu_level_1 list-reset break-word">
								<li class="item_1 active"><span><span>Каталог</span></span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-14"></a>
									<div class="collapse submenu" id="accordion-m-14">
										<ul class="menu_level_2 list-reset">
											<li class="item_2 active"><span><span>Волосы</span></span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-141"></a>
												<div class="collapse submenu" id="accordion-m-141">
													<ul class="menu_level_3 list-reset">
														<li class="item_3"><span>Обработка</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1411"></a>
															<div class="collapse" id="accordion-m-1411">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Ножницы для маникюра</a></li>
																	<li class="item_4"><a href="#">Кусачки для маникюра</a></li>
																	<li class="item_4"><a href="#">Кусачки для педикюра</a></li>
																	<li class="item_4"><a href="#">Фрезы</a></li>
																	<li class="item_4"><a href="#">Пилки и терки для стоп</a></li>
																	<li class="item_4"><a href="#">Лопатки, шаберы</a></li>
																	<li class="item_4"><a href="#">Пилочка и бафы</a></li>
																	<li class="item_4"><a href="#">Сопутствующие материалы</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Уход</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1412"></a>
															<div class="collapse" id="accordion-m-1412">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Для удаления кутикулы</a></li>
																	<li class="item_4"><a href="#">Для питания кутикулы</a></li>
																	<li class="item_4"><a href="#">Для рук</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Базы, топы, гели</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1413"></a>
															<div class="collapse" id="accordion-m-1413">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Базы под гель-лак</a></li>
																	<li class="item_4"><a href="#">Топы под гель-лак</a></li>
																	<li class="item_4"><a href="#">Праймеры</a></li>
																	<li class="item_4"><a href="#">Гели</a></li>
																	<li class="item_4"><a href="#">Формы для наращивания</a></li>
																	<li class="item_4"><a href="#">Полигель</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Аппараты для маникюра</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1414"></a>
															<div class="collapse" id="accordion-m-1414">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Ванночки</a></li>
																	<li class="item_4"><a href="#">Пылесосы</a></li>
																	<li class="item_4"><a href="#">Лампы</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Дизайн ногтей</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1415"></a>
															<div class="collapse" id="accordion-m-1415">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Наклейки</a></li>
																	<li class="item_4"><a href="#">Блестки,стразы</a></li>
																	<li class="item_4"><a href="#">Фольга, поталь, втирка</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Обработка инструментов</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1416"></a>
															<div class="collapse" id="accordion-m-1416">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Пакеты для стрелизации</a></li>
																	<li class="item_4"><a href="#">Контейнеры для дезинфекции</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><a href="#">Кисти для маникюра</a></li>
														<li class="item_3"><a href="#">Наборы для маникюра</a></li>
														<li class="item_3"><a href="#">Очищение и снятие</a></li>
													</ul>
												</div>
											</li>
											<li class="item_2"><span><span>Брови и ресницы</span></span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-142"></a>
												<div class="collapse submenu" id="accordion-m-142">
													<ul class="menu_level_3 list-reset">
														<li class="item_3"><span>Обработка</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1421"></a>
															<div class="collapse" id="accordion-m-1421">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Ножницы для маникюра</a></li>
																	<li class="item_4"><a href="#">Кусачки для маникюра</a></li>
																	<li class="item_4"><a href="#">Кусачки для педикюра</a></li>
																	<li class="item_4"><a href="#">Фрезы</a></li>
																	<li class="item_4"><a href="#">Пилки и терки для стоп</a></li>
																	<li class="item_4"><a href="#">Лопатки, шаберы</a></li>
																	<li class="item_4"><a href="#">Пилочка и бафы</a></li>
																	<li class="item_4"><a href="#">Сопутствующие материалы</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Уход</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1422"></a>
															<div class="collapse" id="accordion-m-1422">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Для удаления кутикулы</a></li>
																	<li class="item_4"><a href="#">Для питания кутикулы</a></li>
																	<li class="item_4"><a href="#">Для рук</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Базы, топы, гели</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1423"></a>
															<div class="collapse" id="accordion-m-1423">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Базы под гель-лак</a></li>
																	<li class="item_4"><a href="#">Топы под гель-лак</a></li>
																	<li class="item_4"><a href="#">Праймеры</a></li>
																	<li class="item_4"><a href="#">Гели</a></li>
																	<li class="item_4"><a href="#">Формы для наращивания</a></li>
																	<li class="item_4"><a href="#">Полигель</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Аппараты для маникюра</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1424"></a>
															<div class="collapse" id="accordion-m-1424">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Ванночки</a></li>
																	<li class="item_4"><a href="#">Пылесосы</a></li>
																	<li class="item_4"><a href="#">Лампы</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Дизайн ногтей</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1425"></a>
															<div class="collapse" id="accordion-m-1425">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Наклейки</a></li>
																	<li class="item_4"><a href="#">Блестки,стразы</a></li>
																	<li class="item_4"><a href="#">Фольга, поталь, втирка</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><span>Обработка инструментов</span><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-1426"></a>
															<div class="collapse" id="accordion-m-1426">
																<ul class="menu_level_4 list-reset">
																	<li class="item_4"><a href="#">Пакеты для стрелизации</a></li>
																	<li class="item_4"><a href="#">Контейнеры для дезинфекции</a></li>
																</ul>
															</div>
														</li>
														<li class="item_3"><a href="#">Кисти для маникюра</a></li>
														<li class="item_3"><a href="#">Наборы для маникюра</a></li>
														<li class="item_3"><a href="#">Очищение и снятие</a></li>
													</ul>
												</div>
											</li>
											<li class="item_2 active"><a href="#"><span>Тело</span></a><a class="icon collapsed" data-toggle="collapse" href="#accordion-m-143"></a>
												<div class="collapse submenu" id="accordion-m-143">
													<ul class="menu_level_3 list-reset">
														<li class="item_3"><a href="#">Кисти для маникюра</a></li>
														<li class="item_3"><a href="#">Наборы для маникюра</a></li>
														<li class="item_3"><a href="#">Очищение и снятие</a></li>
													</ul>
												</div>
											</li>
											<li class="item_2"><a href="#"><span>Манирюк и педикюр</span></a></li>
											<li class="item_2"><a href="#"><span>Электротовары</span></a></li>
											<li class="item_2"><a href="#"><span>Товары для парикмахера</span></a></li>
											<li class="item_2"><a href="#"><span>Прочие</span></a></li>
										</ul>
									</div>
								</li>
								<li class="item_1"><a href="#"><span>Бренды</span></a></li>
								<li class="item_1"><a href="#"><span>Блог</span></a></li>
								<li class="item_1"><a href="#"><span>О нас</span></a></li>
								<li class="item_1"><a href="#"><span>Сотрудничество</span></a></li>
								<li class="item_1"><a href="#"><span>Покупателю</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="scroll-to-top"></div>
			<div class="fastBuyModal modal fade vertical-center" id="fastBuyModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="h1 modal-title">быстрая покупка</div>
							<button class="close" type="button" data-dismiss="modal" aria-hidden="true"></button>
						</div>
						<div class="modal-body">
							<div class="row-fast">
								<div class="col-fast col-fast--pic"><img src="img/tmp/fast-pic.png" alt="alt"></div>
								<div class="col-fast col-fast--text">
									<div class="text">BES активный шампунь для профилактики выпадения и активации роста новых волос c1</div>
								</div>
								<div class="col-fast col-fast--tabs">
									<div class="tabs-border tabs mb-0">
										<ul class="nav nav-tabs list-reset" role="tablist">
											<li class="nav-item"><a class="nav-link active" href="#tab-fast-1" data-toggle="tab"><span>100 мл</span></a></li>
											<li class="nav-item"><a class="nav-link" href="#tab-fast-2" data-toggle="tab"><span>50 мл</span></a></li>
										</ul>
									</div>
								</div>
								<div class="col-fast col-fast--quantity">
									<div class="quantity js-quantity">
										<button class="quantity__btn quantity__btn--minus js-quantity-btn js-quantity-btn-minus"></button>
										<input class="quantity__input js-quantity-input" type="number" value="1" min="1">
										<button class="quantity__btn quantity__btn--plus js-quantity-btn js-quantity-btn-plus"></button>
									</div>
								</div>
								<div class="col-fast col-fast--cost">
									<div class="cost">22 BYN</div>
								</div>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade in active show" id="tab-fast-1" role="tabpanel">
									<form class="form-1" id="form-fastpay" name="form_fastpay" method="post" target="_top" action="/">
										<fieldset class="fieldset">
											<div class="row">
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<input class="form-control input-with-icon input-with-icon--human" id="form_fastpay_FIO" type="text" name="form_fastpay_FIO" placeholder="Имя и фамилия" value="" required="">
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<input class="form-control js_mask_tel input-with-icon input-with-icon--tel" id="form_fastpay_TEL" type="tel" name="form_fastpay_TEL" placeholder="Номер телефона" value="" required="">
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<select class="form-control ui-select input-with-icon input-with-icon--auto" id="form_fastpay_DELIVERY" name="form_fastpay_DELIVERY" required>
																	<option value="" selected disabled>Способ доставки</option>
																	<option>Курьерская доставка 1</option>
																	<option>Курьерская доставка 2</option>
																</select>
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<select class="form-control ui-select input-with-icon input-with-icon--pay" id="form_fastpay_PAY" name="form_fastpay_PAY" required>
																	<option value="" selected disabled>Способ оплаты</option>
																	<option>Способ оплаты 1</option>
																	<option>Способ оплаты 2</option>
																</select>
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-12">
													<!-- row-->
													<div class="form-group mb-0">
														<div class="col-12 btn-wrap text-center">
																					<button class="btn btn-primary btn_submit" id="form-fastpay-submit" type="button"><span>оформить заказ</span></button>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</form>
									<script>
										!function () {
										    'use strict';
										
										    // Form validation
										    function initValid() {
										        // Validation options http://jqueryvalidation.org/documentation/
										        var form_validator = $('#form-fastpay');
										        if (form_validator.length && $.fn.validate) {
										            form_validator.validate({
										                rules: {
										                    'form_fastpay_FIO': {
										                        required: true
										                    },
										                    'form_fastpay_TEL': {
										                        required: true
										                    },
										                    'form_fastpay_DELIVERY': {
										                        required: true
										                    },
										                    'form_fastpay_PAY': {
										                        required: true
										                    }
										                }
										            });
										        }
										    }
										
										    function validOnButton() {
										        var form = $('#form-fastpay');
										        var btn = $('#form-fastpay-submit');
										
										        btn.on('click', function () {
										            if (form.valid()) {
										                form.submit();
										            }
										        })
										    }
										
										    $(function () {
										        initValid();
										        validOnButton();
										    });
										}();
									</script>
								</div>
								<div class="tab-pane fade" id="tab-fast-2" role="tabpanel">
									<form class="form-1" id="form-fastpay-2" name="form_fastpay_2" method="post" target="_top" action="/">
										<fieldset class="fieldset">
											<div class="row">
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<input class="form-control input-with-icon input-with-icon--human" id="form_fastpay_2_FIO" type="text" name="form_fastpay_2_FIO" placeholder="Имя и фамилия" value="" required="">
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<input class="form-control js_mask_tel input-with-icon input-with-icon--tel" id="form_fastpay_2_TEL" type="tel" name="form_fastpay_2_TEL" placeholder="Номер телефона" value="" required="">
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<select class="form-control ui-select input-with-icon input-with-icon--auto" id="form_fastpay_2_DELIVERY" name="form_fastpay_2_DELIVERY" required>
																	<option value="" selected disabled>Способ доставки</option>
																	<option>Курьерская доставка 1</option>
																	<option>Курьерская доставка 2</option>
																</select>
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<select class="form-control ui-select input-with-icon input-with-icon--pay" id="form_fastpay_2_PAY" name="form_fastpay_2_PAY" required>
																	<option value="" selected disabled>Способ оплаты</option>
																	<option>Способ оплаты 1</option>
																	<option>Способ оплаты 2</option>
																</select>
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<select class="form-control ui-select input-with-icon input-with-icon--location" id="form_fastpay_2_CITY" name="form_fastpay_2_CITY" required>
																	<option value="" selected disabled>Населенный пункт</option>
																	<option>Населенный пункт 1</option>
																	<option>Населенный пункт 2</option>
																</select>
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<input class="form-control input-with-icon input-with-icon--post" id="form_fastpay_2_POST" type="text" name="form_fastpay_2_POST" placeholder="Почтовый индекс" value="" required="">
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-12">
													<!-- row-->
													<div class="form-group control-group">
														<div class="text col-12">
															<div class="input-wrap">
																<input class="form-control input-with-icon input-with-icon--address" id="form_fastpay_2_ADDRESS" type="text" name="form_fastpay_2_ADDRESS" placeholder="Адрес" value="" required="">
															</div>
														</div>
														<div class="controls col-12"></div>
													</div>
												</div>
												<div class="col-12">
													<!-- row-->
													<div class="form-group mb-0">
														<div class="col-12 btn-wrap text-center">
																					<button class="btn btn-primary btn_submit" id="form-fastpay-2-submit" type="button"><span>оформить заказ</span></button>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</form>
									<script>
										!function () {
										    'use strict';
										
										    // Form validation
										    function initValid() {
										        // Validation options http://jqueryvalidation.org/documentation/
										        var form_validator = $('#form-fastpay-2');
										        if (form_validator.length && $.fn.validate) {
										            form_validator.validate({
										                rules: {
										                    'form_fastpay_2_FIO': {
										                        required: true
										                    },
										                    'form_fastpay_2_TEL': {
										                        required: true
										                    },
										                    'form_fastpay_2_DELIVERY': {
										                        required: true
										                    },
										                    'form_fastpay_2_PAY': {
										                        required: true
										                    },
										                    'form_fastpay_2_CITY': {
										                        required: true
										                    },
										                    'form_fastpay_2_POST': {
										                        required: true
										                    },
										                    'form_fastpay_2_ADDRESS': {
										                        required: true
										                    }
										                }
										            });
										        }
										    }
										
										    function validOnButton() {
										        var form = $('#form-fastpay-2');
										        var btn = $('#form-fastpay-2-submit');
										
										        btn.on('click', function () {
										            if (form.valid()) {
										                form.submit();
										            }
										        })
										    }
										
										    $(function () {
										        initValid();
										        validOnButton();
										    });
										}();
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>