$_slide-counter-bg:             transparent;
$_slide-counter-color:          #fff;
$_slide-counter-fz:             14px;

.slide-counter {
  color: $_slide-counter-color;
  background: $_slide-counter-bg;
  font-size: $_slide-counter-fz;
  
  @media (max-width: $screen-sm-max) {
    display: none;
  }

  .inited-not & {
    display: none;
  }
}