.studio.studio--invert
  .inner
    .pic
      img(src=DB.DIR + 'img/studio--invert.svg', alt='', title='')
    .text-wrap
      | Разработка и продвижение сайта —
      = ' '
      a.link(href='#', target='_blank')