nav.pagination-wrap
  ul.pagination.list-reset
    li.page-item.disabled
      span.page-link.prev
        span пред
    li.page-item
      a.page-link(href='#')
        span 1
    li.page-item.active
      a.page-link(href='#')
        span 2
    li.page-item
      a.page-link(href='#')
        span 3
    li.page-item
      a.page-link(href='#')
        span 4
    li.page-item.hover
      a.page-link(href='#')
        span 5
    li.page-item
      a.page-link(href='#')
        span 6
    li.page-item
      a.page-link.next(href='#')
        span след