// Pagination

$pagination-padding-y:              0;
$pagination-padding-x:              0;
$pagination-min-height:             25px;
$pagination-min-width:              25px;
$pagination-item-offset:            0;
$pagination-line-height:            1.25;
$pagnation-border-radius:           0;

$pagination-fz:                     16px;
$pagination-color:                  rgba($brand-gray-10, .5);
$pagination-bg:                     transparent;

$pagination-border-width:           0;
$pagination-border-style:           solid;
$pagination-border-color:           transparent;

$pagination-hover-color:            $brand-gray-10;
$pagination-hover-bg:               transparent;
$pagination-hover-border-color:     transparent;

$pagination-active-color:           $brand-gray-10;
$pagination-active-bg:              transparent;
$pagination-active-border-color:    transparent;

$pagination-disabled-color:         $disabled-color;
$pagination-disabled-bg:            transparent;
$pagination-disabled-border-color:  transparent;

.pagination-wrap {
  position: relative;
  margin-top: 40px;
  margin-bottom: 10px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(8,5,8,.2);
    z-index: 0;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background: $brand-white;

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: $pagination-min-width;
  min-height: $pagination-min-height;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -$pagination-border-width;
  border: $pagination-border-width $pagination-border-style $pagination-border-color;
  border-radius: $pagnation-border-radius;
  color: $pagination-color;
  font-size: $pagination-fz;
  line-height: $pagination-line-height;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $pagination-bg;

  @media (max-width: $screen-sm-max) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    z-index: 2;
    color: $pagination-hover-color;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
    text-decoration: none;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.page-item {
  margin: 0 $pagination-item-offset;

  &:first-child {
    margin-left: 0;

    .page-link {
      margin-left: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .prev,
  .next {

    @media (max-width: $screen-sm-max) {
      width: 35px;
      height: 35px;
      border: 1px solid $pagination-color;
    }

    &:before,
    &:after{
      @include svg;
      @include svg-pagin-next;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      margin-left: 10px;
      margin-right: 10px;

      @media (max-width: $screen-sm-max) {
        width: 17px;
      }
    }

    @include hover-focus {

      @media (max-width: $screen-sm-max) {
        border: 1px solid $pagination-hover-color;
      }

      &:before,
      &:after {
        @include svg-pagin-next-hover();

        @media (max-width: $screen-sm-max) {
          width: 17px;
        }
      }
    }

    span {

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }

  .prev {
    margin-right: 65px;

    @media (max-width: $screen-sm-max) {
      margin-right: 45px;
    }

    &:before,
    &:after {
      transform: scale(-1, 1);
    }

    &:after {
      display: none;
    }
  }

  .next {
    margin-left: 65px;

    @media (max-width: $screen-sm-max) {
      margin-left: 45px;
    }

    &:before {
      display: none;
    }
  }

  &.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    cursor: default;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;

    &.prev,
    &.next {

      @media (max-width: $screen-sm-max) {
        border: 1px solid $pagination-active-color;
      }

      &:before,
      &:after{
        @include svg-pagin-next-active();

        @media (max-width: $screen-sm-max) {
          width: 17px;
        }
      }
    }
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;

    &.prev,
    &.next {

      @media (max-width: $screen-sm-max) {
        border: 1px solid $pagination-disabled-color;
      }

      &:before,
      &:after {
        @include svg-pagin-next-disabled();

        @media (max-width: $screen-sm-max) {
          width: 17px;
        }
      }
    }
  }
}