.head-cards
  .head-card
    .head-card__inner
      .head-card__left
        .head-card__pic-wrap
          .pic-inner
            img.img(src=DB.DIR + 'img/tmp/head-cards-01.png', alt='head-cards')
      .head-card__right
        .head-card__close
          .head-card__close-btn
        .head-card__row
          .head-card__col.head-card__col--text
            .head-card__text Nouvelle Extreme Gel Гель для укладки волос силь..
          .head-card__col.head-card__col--btn
            .head-card__btns
              button.head-card__btn.head-card__btn--minus
              input.head-card__btn.head-card__quantity(type='text', value='1')
              button.head-card__btn.head-card__btn--plus
          .head-card__col.head-card__col--sum
            .head-card__sum 10.00 BYN
  .head-card
    .head-card__inner
      .head-card__left
        .head-card__pic-wrap
          .pic-inner
            img.img(src=DB.DIR + 'img/tmp/head-cards-02.png', alt='head-cards')
      .head-card__right
        .head-card__close-btn
        .head-card__row
          .head-card__col.head-card__col--text
            .head-card__text BES АКТИВНЫЙ ШАМПУНЬ ДЛЯ ЖИРНЫХ ВОЛОС S1
          .head-card__col.head-card__col--btn
            .head-card__btns
              button.head-card__btn.head-card__btn--minus
              input.head-card__quantity(type='text', value='1')
              button.head-card__btn.head-card__btn--plus
          .head-card__col.head-card__col--sum
            .head-card__sum 26.00 BYN