include ../../../../components/sliders/template/sl-products/index
include ../../../../components/sliders/nav/sl-nav/index
include ../../../../components/sliders/pager/sl-pager/index

+sl-products({
    nav: 'sl-nav',
    pager: 'sl-pager',
    title: 'Новинки',
    slides: [
        {
            img: 'img/tmp/sl-products-1.png',
            title: 'Модель 1701 ',
            desc: 'Перчатки женские из полартека (флис) с опушкой под мех нерпы',
            sale: {
                items: [
                {
                    text: 'new',
                    className: 'card-links-3-card__sale-text'
                }]
            },
            price: '76,52',
            number: '156'
        },
        {
            img: 'img/tmp/sl-products-1.png',
            title: 'Модель 1178б',
            desc: 'Леопардовые перчатки женские из бархатной ткани',
            sale: {
                items: [{
                    text: 'new',
                    className: 'card-links-3-card__sale-text'
                }]
            },
            price: '39,85',
            number: '18'
        },
        {
            img: 'img/tmp/sl-products-2.png',
            title: 'Модель 857',
            desc: 'Перчатки женские из кожи козы с подкладкой из ч/ш вкл.',
            sale: {
                items: [{
                    text: 'new',
                    className: 'card-links-3-card__sale-text'
                }]
            },
            price: '42,15',
            number: '101'
        },
        {
            img: 'img/tmp/sl-products-1.png',
            title: 'Модель 851р',
            desc: 'Перчатки женские из кожи овцы с полушерстяной подкладкой',
            sale: {
                items: [{
                    text: 'new',
                    className: 'card-links-3-card__sale-text'
                }]
            },
            price: '43,50',
            number: '28'
        },
        {
            img: 'img/tmp/sl-products-1.png',
            title: 'Модель 851р',
            desc: 'Перчатки женские из кожи овцы с полушерстяной подкладкой',
            sale: {
                items: [{
                    text: 'new',
                    className: 'card-links-3-card__sale-text'
                }]
            },
            price: '43,50',
            number: '28'
        }
    ]
})