include ../../../base/forms/form_1/form/index
.form-code.lk-form
  form#form-code.b-form(action='#')
    fieldset
      .control-group
        .input-wrap
          input.input.form-control.input-with-icon.input-with-icon--percent(type='text', name='form_code_CODE', placeholder='Введите промокод', value='', required)
          .b-btn
            +btn-primary({type: 'input', text: 'применить'})(name='OK')
  script.
      !function () {
          'use strict';

          function initValid() {
              // Validation options http://jqueryvalidation.org/documentation/
              var form_validator = $('#form-code');
              if (form_validator.length && $.fn.validate) {
                  form_validator.validate({
                      rules: {
                          'form_code_CODE': {
                              required: true,
                          }
                      }
                  });
              }
          }

          $(function () {
              initValid();
          });
      }();