$_font-family-sans-serif: Helvetica, Arial, sans-serif;

@mixin font-face($font-family, $font) {
  @font-face {
    font-display: swap;// Настройте показ всего текста во время загрузки веб-шрифтов
    font-family: '#{$font}';
    font-style: normal;
    font-weight: 400;
    src: local('#{$font-family}'),
    local('#{$font}'),
    url('../fonts/#{$font}.woff2') format('woff2'),
    url('../fonts/#{$font}.woff') format('woff');
  }
}

@mixin skip-font-styles() {
  font-weight: normal;
  font-style: normal;
}

@include font-face('Cera Pro', CeraPro-Regular);
$font-r: CeraPro-Regular, $_font-family-sans-serif;
@mixin font-family-regular() {
  font-family: $font-r;
  @include skip-font-styles();
}

@include font-face('Cera Pro', CeraPro-Bold);
$font-b: CeraPro-Bold, $_font-family-sans-serif;
@mixin font-family-bold() {
  font-family: $font-b;
  @include skip-font-styles();
}

@include font-face('Cera Pro', CeraPro-RegularItalic);
$font-i: CeraPro-RegularItalic, $_font-family-sans-serif;
@mixin font-family-italic() {
  font-family: $font-i;
  @include skip-font-styles();
}

@include font-face('Cera Pro', CeraPro-Light);
$font-l: CeraPro-Light, $_font-family-sans-serif;
@mixin font-family-light() {
  font-family: $font-l;
  @include skip-font-styles();
}

@include font-face('Cera Pro', CeraPro-Medium);
$font-m: CeraPro-Medium, $_font-family-sans-serif;
@mixin font-family-medium() {
  font-family: $font-m;
  @include skip-font-styles();
}

@include font-face('Cormorant', Cormorant-Regular);
$font-cormorant-r: Cormorant-Regular, $_font-family-sans-serif;
@mixin font-family-cormorant-r() {
  font-family: $font-cormorant-r;
  @include skip-font-styles();
}

@include font-face('Cormorant', Cormorant-Medium);
$font-cormorant-m: Cormorant-Medium, $_font-family-sans-serif;
@mixin font-family-cormorant-m() {
  font-family: $font-cormorant-m;
  @include skip-font-styles();
}

@include font-face('Cormorant', Cormorant-Bold);
$font-cormorant-b: Cormorant-Bold, $_font-family-sans-serif;
@mixin font-family-cormorant-b() {
  font-family: $font-cormorant-b;
  @include skip-font-styles();
}
