.head-links
  .head-links__row
    .head-links__col
      .head-links__link.head-links__link--search
        include ../search/search-head-5/index
    .head-links__col
      .head-links__link.head-links__link--cart
        include ../head-cart/index
    .head-links__col
      a.head-links__link.head-links__link--favorites(href="#")
        .head-links__icon
    .head-links__col
      a.head-links__link.head-links__link--human(href="#")
        .head-links__icon